@import url(default.css);


.category .tit{
    margin: 143px 0 36px 0;
    color: #1D1D1D;
}
.category .tit strong{
    /*만약에 strong테그에다가 여백을 줄거면 margin을 주고 display로 block 요소를 만들어줘야함*/
    font-weight: 700;
}
.category .tit h2{
    line-height: 1.1;
    /*행간을 줄여주는 이유는 strong과 h2 사이에 행간에 사에이 발생한 기본여백을 삭제하기위해서*/
    font-size: 35px;
    font-weight: 300;
}
.category ul li{
    float: left;
    /*플롯트는 왼쪽으로 명령을 주면 최대한의 올수잇는만큼만 온다. 그래서 모두다 오게하려면 넓이를 제한해야한다*/
    width: 240px;
    margin: 0 20px 0 0;
}
.category ul li:last-child{/*li중에 마지막li를 선택*/
    margin-right: 0;
    /*어느쪽에 마진을 뺄건지 정확하게 위치를 파악한후 마진을 빼준다*/
}
.category ul li a{
    display: block;
    /*a 섹션을 온전히 전부다 감싸야한다, 그래서 block테그를 줘서 모두다 감싸게 만든다*/
}
.category ul li a img{
    width: 100%;
    border: 1px solid #EDEDED;
    box-sizing: border-box;
    /*내가준 사이즈에 맞게 보더라인까지 맞춰서 사이즈가 맞게된다
    border line을 주게되면 필수적으로 해야한다, 사이즈맞추기 중요*/
}
.category ul li a strong{
    /*strong은 인라인테그라서 margin이 적용이 안된다, 그래서 display로 block 으로 변경후 테그입력*/
    display: block;
    margin: 10px 0 0 0;
    font-weight: 400;
}
@media screen and (max-width:450px){
    .category .tit{
        margin: 80px 0 60px 0;
    }
    .category .tit h2{
        font-size: 30px;
    }
    .category ul li{
        width: 48%;
        margin: 0 4% 0 0;
    }
    .category ul li:nth-child(2),.category ul li:nth-child(4){
        margin-right: 0;
    }
    .category ul li:last-child{/*li중에 마지막li를 선택*/
        display: none;
    }
    .category ul li a img{
        width: 100%;
    }
    .category ul li a strong{
        margin: 5px 0 15px 0;
    }
}/*media종료*/

.network{
    height: 805px;
    margin: 138px 0 0 0;
    background-image: url(../images/network_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /*background에 이미지가 들어가면 포지션,리핏,사이즈,높이 를 줘야한다*/
    color: #ffffff;
    /*배경안에 들어가는 글자가 가운데로 오게하려면 network 큰 프레임안에 text-align center를 줘야함*/
}
.network strong{
    display: block;
    padding: 206px 0 0 0;
    font-weight: 400;
}
.network h2{
    margin: 5px 0 45px 0;
    line-height: 1.25;
    font-weight: 700;
    font-size: 40px;
}
.network a{
    /*a 는 무조건 inline-block입니다, 그래야 영역이안겹칩니다.
    만약에 float 를 주면 inline-block을 안줘도 옆으로 딱 붙는다.*/
    display: block;/*만약에 모든텍스트가 가운데정렬이면 inline block을주고 float를 빼야함*/
    float: left;/*a 사이의 미묘한 여백이 생겼을때 그걸 없애고 나란히 딱붙혀서 배치*/
    padding: 12px 25px;
    margin: 0 5px 0 0;
    border: 1px solid rgba(255,255,255,0.7);/*검은색rgba는 0,0,0 하얀색rgba는 255,255,255*/
    border-radius: 6px;
}
@media screen and (max-width:450px){
    .network{
        height: auto;
        margin: 100px 0 0 0;
        padding: 0 0 145px 0;
    }
    .network strong{
        display: block;
        padding: 132px 0 0 0;
        font-size: 13px;
    }
    .network h2{
        margin: 5px 0 27px 0;
        font-size: 30px;
    }
    .network a{
        /*a 는 무조건 inline-block입니다, 그래야 영역이안겹칩니다.
        만약에 float 를 주면 inline-block을 안줘도 옆으로 딱 붙는다.*/
        display: block;/*만약에 모든텍스트가 가운데정렬이면 inline block을주고 float를 빼야함*/
        float: left;/*a 사이의 미묘한 여백이 생겼을때 그걸 없애고 나란히 딱붙혀서 배치*/
        margin: 0 5px 0 0;
    }
}