@import url(default.css);

header{
    position: absolute;
    /*비쥬얼 위로 헤더가 겹쳐서 올라가기 위해서
    header가 기준점이 없으니, body가 기준점이 된다*/
    left: 0;
    top: 0;
    width: 100%;
    /* min-width: 1280px; */ /*가로넓이가 줄어들었을때 가로스크롤바가 생길경우*/
    /*position: absolute 를 주면 요소가 inline-block이 된것처럼 내부에 콘텐츠가
      존재하는 만큼의 넓이만 갖는다*/
    height: 100px;
    color: #fff;
}
header h1{
    float: left;
    margin: 29px 296px 0 0;
}
header h1 a{
    display: block;
    width: 220px;
    height: 36px;
    background: url(../images/logo.svg) no-repeat center center / 100%;
    /*영역안에 꽉차게(cover를 주면 짤림)*/
    font-size: 0;
    line-height: 0;/*글자를 없애기 위해서 사이즈와 행간을 0을 준다*/
}
header .gnb{
    float: left;
    padding: 20px 0 0 0;
    /*위에서 떨어지는 여백은 gnb 즉 모든 li한테 줘야하기때문에 여기에 패딩값을 준다*/
}
header .gnb button{
    display: none;/*모바일에서만 표시-메뉴 여는 버튼*/
}
header .gnb ul li{
    float: left;
}
/*사이즈랑 여백은 a한테 준다- 눌려야 하기때문에*/
header .gnb ul li a{
    display: block;
    padding: 17px;/*a가 눌리는 값이 헤딩을 준값(100px) 넘지않으면됨*/
}
header .tnb{
    float: right;
    margin: 25px 0 0 0;/*상단에서 떨어지는 여백을 tnb에게 통합적으로 준다*/
}
header .tnb ul li{
    float: left;
}
header .tnb ul li button span{
    display: none;/*설명문구 숨김*/
}
header .tnb ul li button i{
    padding: 10px;/*클릭이 되어야 하는 최소한의 패딩*/
    font-size: 24px;/*아이콘의 크기, 프레임과 합쳐서 총크기*/
    font-weight: 300;
}
@media screen and (max-width:640px){
    header{
        height: 45px;
        /* min-width: auto; */ /*가로넓이가 줄어들었을때 가로스크롤바가 생길경우*/
    }
    header h1{
        margin: 14px 0 0 0;
    }
    header h1 a{
        width: 93px;
        height: 16px;
    }
    header .gnb{
        float: right;
        padding: 12px 0 0 10px;
    }
    /*  h1->gnb->tnb
        코딩 순서가 위와 같을때 모든요소에 float;right를 주면 화면에 나타나는 순서는
        tnb->gnb->h1 이 된다.
        --->float; right 를 먼저 선언한 요소가 오른쪽 자리를 선점
    */
    header .gnb button{
        display: block;/*모바일에서 표시 해야해서 블록을 줌-메뉴 여는 버튼*/
    }
    header .gnb button span{
        display: none;
    }
    header .gnb button i{
        font-size: 20px;
        font-weight: 300;
    }
    header .gnb ul{
        display: none;
    }
    header .tnb{
        margin: 12px 0 0 0;/*gnb에서 준 패딩값을 위쪽에만 같은값을 준다*/
    }
    header .tnb ul li.mypage{
        display: none;
    }
    header .tnb ul li button i{
        padding: 0;/*모바일에서는 잘눌려서 0을준다*/
        font-size: 20px;/*아이콘의 크기, 프레임과 합쳐서 총크기*/
    }
}/*media 종료*/

.visual{
    height: 870px;
    background: url(../images/visual_bg.png) no-repeat center center / cover;
    color: #fff;
    text-align: center;
}
.visual h2{
    padding: 350px 0 15px 0;
    font-size: 50px;
    font-weight: 700;
    color: #B09C84;
}
.visual .txt_mobile{
    display: none;/*모바일에서만 보일 텍스트*/
}
@media screen and (max-width:640px){
    .visual{
        height: auto;/*글자가 몇줄이 될지모르니 오토로 줘야함*/
        padding: 0 0 179px 0;
    }
    .visual h2{
        padding: 169px 0 13px 0;
        font-size: 25px;
        line-height: 1.2;
    }
    .visual h2 span{
        display: block;
    }
    .visual .txt_mobile{
        display: block;
    }
    .visual .txt_pc{
        display: none;/*모바일에서 안보일 텍스트*/
    }
}/*media 종료*/

.book{
    margin: 87px 0 87px 0;
}
.book .tit{
    float: left;
}
.book .tit h2{
    margin: 0 0 15px 0;
    color: #1D1D1D;
    font-size: 50px;
    font-weight: 700;
}
.book .tit .btn{
    margin: 17px 0 0 0;
}
.book .tit .btn button{
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border: 1px solid #666666;
}
.book .tit .btn button span{
    display: none;
}
.book .tit .btn button i{
    margin: 3px 0 0 5px;/*보더박스 안에 아이콘을 정렬하기 위해서 마진을 준다*/
    color: #666666;
    font-size: 24px;
    font-weight: 300;
}

/*컨텐츠 영역 밖으로 나가는 리스트- 스크롤(모바일)
  1. ul을 감싸는 div가 있어야함
  2. ul을 감싸는 divㄴ느 overflow:auto 이어야함(모바일)
     넓이와 높이를 입력
  3.ul 은 li 전체의 넓이를 가져야함(여백포함)->> 모든 li가 한줄로 좌우로 들어가야함
    ul은 position:absolute 여야함(모바일버전에서)
    - 좌우로 슬라이드는 abosolute만됨*/

.book .list{
    /*왼쪽요소 float;left를 주고 
      오른쪽 요소는 margin-left로 왼쪽요소의 넓이만큼 여백을 준다
      오른쪽 요소는 block 이다
      오른쪽 요소가 왼쪽요소를 인지하지 못하고 위로 올라옴
      그래서 float;left를 주는게 아니라 지운후 margin 으로 준다  */
    margin-left: 330px;
}
/*글자길이가 길어서 옆으로 가지 않는다, 그러니 ul의넓이를 줘야한다*/
.book .list ul{
    width: 1980px;/*ul의 총넓이를 줘야 li들이 나란히 옆으로 들어간다*/
}
.book .list ul li{
    float: left;
    width: 290px;
    margin: 0 40px 0 0;
}
.book .list ul li a{
    display: block;
}
.book .list ul li a img{
    box-shadow: 0 0 10px rgba(0,0,0,0.1);/*쉐도우는 영역차지 않함/ 단 모바일에선 짤릴수있음*/
}
.book .list ul li a .subject{
    display: block;
    margin: 21px 0 2px 0;
    font-size: 20px;
    font-weight: 700;
    /*block 이여야 이게 적용이됨
      무조건 제목이 1줄로 표시되게하는 요소*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.book .list ul li a .author{
    display: block;
}
.book .list ul li a .content{
    display: block;
    margin: 11px 0 0 0;
    /*여러줄로 표시를 제한할때*/
    line-height: 1.5;
    height: 3em;/*줄수 곱하기 행간*/
    overflow: hidden;
}
@media screen and (max-width:640px){
    .book{
        margin: 26px 0 58px 0;
    }
    .book .tit{
        float: none;
    }
    .book .tit h2{
        float: left;
        margin: 0;
        font-size: 25px;
    }
    .book .tit p{
        display: none;/*모바일숨김*/
    }
    .book .tit .btn{
        float: right;
        margin: 0;
    }
    .book .tit .btn button{/*버튼 크기 사이즈*/
        margin: 7px 0 0 0;
        width: 20px;
        height: 20px;
        margin-right: 3px;
    }
    .book .tit .btn button i{/*아이콘사이즈는 폰트사이즈로 크기를 준다*/
        margin: 2px 0 0 4px;/*보더박스 안에 아이콘을 정렬하기 위해서 마진을 준다*/
        font-size: 15px;
    }
    .book .list{
        /*옆으로 나란히 나열되어있는li들이 보이게끔 스크롤이 생긴다*/
        overflow-y: hidden;
        /*가로스크롤바가 생기면 가로스크롤만큼 높이가 줄어서 세로 스크롤이 생길수있기때문, 그걸 방지*/
        overflow-x: auto;
        width: calc(100% + 20px);
        /* calc() 쓰는이유는 대부분 %와 px를 혼용할때 줌
        list에 100%를 주면 wrapper가 좌우에 여백 20px를 준 안쪽으로 넓이가 생성된다.
        그런데 오른쪽만 콘텐츠 영역 밖으로 더 나가고자 하면 calc(100% + 20px) */
        padding: 8px 0 10px 0;
        margin-left: 0;
        /*마진을 안줘야 바로 사진이 보인다*/
    }
    /*글자길이가 길어서 옆으로 가지 않는다, 그러니 ul의넓이를 줘야한다*/
    .book .list ul{
        width: 732px;/*ul의 총넓이를 줘야 li들이 나란히 옆으로 들어간다*/
    }
    .book .list ul li{
        width: 112px;
        margin-right: 10px;
    }
    .book .list ul li a img{
        width: 100%;/*사이즈에 맞게 꽉맞춰서 들어가게끔 하려고 백프로를 준다*/
        box-shadow: none;/*모바일에서 쉐도우를 뺌*/
    }
    .book .list ul li a .subject{
        margin: 3px 0 0 0;
        font-size: 13px;
        /*block 이여야 이게 적용이됨
          무조건 제목이 1줄로 표시되게하는 요소*/
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        /*1줄에서 2줄을 허용해야할경우 
            white-space: normal;
            line-height: 1.5;
            height:3em; - 행간 곱하기 줄수*/
    }
    .book .list ul li a .author{
        display: none;
    }
    .book .list ul li a .content{
        display: none;
    }
}

.interview{
    padding: 0 0 134px 0;/*백그라운드 색이 온전히 다보이게끔 패딩을 줌*/
    background-color: #D7CCC0;
}
.interview h2{
    padding: 43px 0 35px 0;
    color: #1D1D1D;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
}
.interview .colgroup{
    position: relative;/*pic_box의 정렬의 기준점이 되기위해서*/
}
.interview .pic_box{
    position: absolute;
    left: 0;
    top: 50px;
}
.interview .cnt_box{
    height: 419px;/*겹쳐지는 이미지(pic_box) 랑 위치를 정해 비율을 줬기때문에 비율에맞게 줄어들고 늘어나고 해야해서 높이를 준다*/
    margin: 0 0 0 70px;
    background-color: #402D26;
    color: rgba(255,255,255,0.8);
}
.interview .cnt_box .inner{
    padding: 50px 50px 0 660px;
    
}
.interview .cnt_box h3{
    margin: 0 0 27px 0;
    font-size: 30px;
    font-weight: 700;
}
.interview .cnt_box p{
    line-height: 1.2;
}
.interview .cnt_box a{
    display: block;
    width: 145px;
    height: 39px;
    margin: 23px 0 0 0;
    padding: 0 9px 0 11px;
    line-height: 39px;
    /*a속성의 버튼을 디자인할때 글자를 높이의 위아래 가운데 배치하기 위해서는
      제일 쉬운 방법인 행간을 높이값과 동일하게 주는 것이다*/
    white-space: nowrap;
    /*혹시나 버튼안에 2줄이 있을때 그걸 방지하기 위해서- 무조건 1줄로만 보이게할때 이속성을 같이 준다*/
    border: 1px solid #666666;
}
.interview .cnt_box a span{
    float: left;
    
}
.interview .cnt_box a i{
    float: right;
    margin: 10px 0 0 0;
    font-size: 15px;    
}
@media screen and (max-width:640px){
    .interview{
        padding: 0;/*백그라운드 색이 온전히 다보이게끔 패딩을 줌*/
        background-color: transparent;
    }
    .interview h2{
        margin: 32px 0 9px 0;
        padding: 0;
        color: #1D1D1D;
        font-size: 25px;
    }
    .interview .pic_box{
        position: relative;/*pc에서준 요소해지방법--> none 이나 0 를 주면 안된다*/
        left: auto;
        top: auto;
    }
    .interview .pic_box img{
        width: 100%;
        position: relative;
        z-index: 1;/*뒤에주는 배경색보다 이미지를 먼저 보여지기 위해서*/
    }
    .interview .pic_box::after{/*이미지 뒤에 배경색을 같이 겹쳐지게끔 보여지는 효과를 주기위해서*/
        position: absolute;
        left: -20px;
        bottom: 0;
        width: calc(100% + 40px);
        height: 60%;
        background-color: #402D26;
        content: "";
    }
    .interview .cnt_box{
        width: calc(100% + 40px);/*wrapper 바깥까지 바탕색을 깔기위해서*/
        height: auto;/**/
        margin: 0 0 0 -20px;
        background-color: #402D26;
    }
    .interview .cnt_box .inner{
        padding: 20px 20px;/*wrapper 처럼 양옆에 여백을 20을 줘야해서*/
    }
    .interview .cnt_box h3{
        margin: 0 0 10px 0;
        font-size: 20px;
    }
    .interview .cnt_box p span{
        display: none;
    }
    .interview .cnt_box a{
        
        width: 126px;
        height: 25px;
        margin: 45px 0 0 0;
        padding: 0 9px 0 11px;
        line-height: 25px;
    }
    .interview .cnt_box a i{
        margin: 5px 0 0 0;  
        font-size: 13px;
    }
}

.news{
    margin: 87px 0 150px 0;
}
.news .tit h2{
    float: left;
    margin: 0 0 17px 0;
    color: #1D1D1D;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
}
.news .tit .btn{
    float: right;
    margin: 19px 0 0 0;
}
.news .tit .btn button{
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border: 1px solid #666666;
}
.news .tit .btn button span{
    display: none;
}
.news .tit .btn button i{
    margin: 3px 0 0 5px;/*보더박스 안에 아이콘을 정렬하기 위해서 마진을 준다*/
    color: #666666;
    font-size: 24px;
    font-weight: 300;
}
.news .list{
    padding: 17px 0 0 0;/*스크롤이 생겼을때 스크롤바가 li에 딱붙어 있지 않게 하기 위해서*/
   
}
.news .list ul{
    /*li넓이(290) +여백(40) =330 x li갯수(8)=2640*/
    width: 2640px;
    margin: 0 0 0 -330px;/*디자인에서처럼 li 하나가 왼쪽으로 wrapper를 넘어가게끔
                           margin만 마이너스가 됨, padding은 안됨*/
}
.news .list ul li{
    float: left;
    width: 290px;
    margin: 0 40px 0 0; /*last child 여백은 안뺌, 슬라이드할때 여백이 있어야하기때문*/
}
.news .list ul li a{
    display: block;
}
.news .list ul li a img{
    width: 100%;/*모바일을 위해서 미리 백프로 준다*/
}
.news .list ul li a .subject{
    display: block;
    margin: 14px 0 19px 0;
    font-size: 20px;
    font-weight: 700;
    /*최대 2줄*/
    line-height: 1.15;
    max-height: 2.3em;
    overflow: hidden;
    /*무조건  2줄
      line-height: 1.15;
      height: 2.3em;
      overflow: hidden;*/
}
.news .list ul li a .content{
    display: block;
    line-height: 1.15;
    max-height: 4.6em; /*최대 4줄*/
    overflow: hidden;
}
@media screen and (max-width:640px){
    .news{
        margin: 42px 0 40px 0;
    }
    .news .tit h2{
        margin: 0 0 12px 0;
        font-size: 25px;
    }
    .news .tit .btn{
        margin: 0;
    }
    .news .tit .btn button{/*버튼 크기 사이즈*/
        margin: 7px 0 0 0;
        width: 20px;
        height: 20px;
        margin-right: 3px;
    }
    .news .tit .btn button i{/*아이콘사이즈는 폰트사이즈로 크기를 준다*/
        margin: 2px 0 0 4px;/*보더박스 안에 아이콘을 정렬하기 위해서 마진을 준다*/
        font-size: 15px;
    }
    .news .list{
        overflow-y: hidden;
        overflow-x: auto;
        width: calc(100% + 40px);
        padding: 17px 0 17px 0;
        margin: 0 0 0 -20px;
        /*왼쪽으로 20px 이동
        1. margin: 0 0 0 -20px;
        2. position: relative;
           left: -20px;*/
    }
    .news .list ul{
        /*li넓이(152) +여백(16) =168 x li갯수(8)=1344*/
        width: 1344px;
        margin: 0 0 0 0;/*왼쪽으로 나가는 효과 지우기 위해서*/
    }
    .news .list ul li{
        width: 152px;
        margin: 0 16px 0 0; /*last child 여백은 안뺌, 슬라이드할때 여백이 있어야하기때문*/
    }
    .news .list ul li a .subject{
        display: block;
        margin: 5px 0 9px 0;
        font-size: 13px;
    }
}

footer{
    padding: 46px 0 181px 0;
    background-color: #2B2117;
    color: rgba(255,255,255,0.7);
}
footer .f_logo{
    float: left;
    padding: 5px 0 0 0;
}
footer .f_logo img{
    /*크기가 헤더 로고랑 다르면 넓이(width)만 주면 된다, 높이는 주지 않아도 된다, 높이는 알아서 들어감*/
    /*"글자색"을 바꾸려면 rgba (255,255,255,0.8) 이런식으로 하면되는데 
      object (이미지자체)는 opacity를 줘야한다*/
    opacity: 0.7;
}
footer .f_nav{
    float: left;
    margin: 0 76px 0 70px;
}
footer .f_nav ul li a{
    display: block;
    line-height: 2.66;
}
footer .sns{
    float: right;
    /*글자없애기*/
    font-size: 0;
    line-height: 0;
}
footer .sns a{
    display: inline-block;/*float를 줘도 된다, 하지만 모바일때문에 인라인 블록을 준다*/
    width: 47px;
    height: 47px;
}
/*클래스 부를때 a의class 를 부를때는 스페이스 없이 붙혀서 선언한다*/
footer .sns a.insta{
    background: url(../images/sns_insta.svg) no-repeat center center;
}
footer .sns a.facebook{
    background: url(../images/sns_facebook.svg) no-repeat center center;
}
footer .sns a.naver{
    background: url(../images/sns_naverpost.svg) no-repeat center center;
}
footer .copyright{
    float: left;
    line-height: 2.66;
    color: rgba(255,255,255,0.5);
}
@media screen and (max-width:640px){
    footer{
        padding: 31px 0 76px 0;
        text-align: center;/*모든걸 가운데 정렬을 주려면/글자는특히 전부 상속받는다*/
    }
    footer .f_logo{
        float: none;
        padding: 0 0 0 0;
    }
    footer .f_logo img{
        width: 129px;
    }
    footer .f_nav{
        float: none;
        margin: 20px 0 20px 0;
    }
    footer .f_nav ul li a{
        line-height: 1.92;
    }
    footer .sns{
        float: none;
    }
    footer .sns a{
        width: 30px;
        height: 30px;
    }
    /*클래스 부를때 a의class 를 부를때는 스페이스 없이 붙혀서 선언한다*/
    footer .sns a.insta{
        background-size: 24px auto;
        /*background-size: %로 주면 background가 들어간 영역의 넓이의 몇 %로 적용됨
          원래 배경 이미지의 비율로 계산 하면 안됨*/
    }
    footer .sns a.facebook{
        background-size: 11px auto;
    }
    footer .sns a.naver{
        background-size: 26px auto;
    }
    footer .copyright{
        float: none;
        margin: 35px 0 0 0;
        line-height: 1.15;
    }
}