@import url(default.css);

.header{
    position: absolute;/*visual 위로 올라가야하기때문에*/
    left: 0;
    top: 0;
    z-index: 100;/*모든 position 들보다 제일 높은값으로 제일위에 올라와야하기때문*/
    width: 100%;/*넓이를 안주면 쭈그러든다*/
    height: 100px;    
    color: #fff;
    transition: 0.5s;/*효과가 나타나기 전에 바뀌는걸 미리 알려주는 테그*/
}
.header .logo{
    float: left;
    margin: 32px 167px 0 0;
    font-size: 0;/*h1이라는 테그 자체에 행간과 글자크기가 보이진 않아도 여백을 차지해서 기본값을 빼줘야한다*/
    line-height: 0;
    transition: 0.5s;
}
.header .gnb{
    float: left;
}
.header .gnb>ul>li{
    float: left;
    width: 193px;
    text-align: center;
}
.header .gnb>ul>li>a{
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 100px;
    /*header의 높이가 100px
      - 글자를 header위아래 가운데에 정렬시키기 위해서*/
    white-space: nowrap;
    /*행간을 많이 줘버렸을경우, 혹시 메뉴가 2줄이 되었을때
      절대 2줄로 되지 않게 nowrap으로 미연에 방지 한다
      줄바꿈 금지*/
    transition: 0.5s;
}
.header .gnb>ul>li>ul{
    /*2차메뉴*/
    display: none;
}
.header .gnb .gnb_open{/*모바일버튼*/
    display: none;
}
.header .gnb .gnb_close{/*모바일버튼*/
    display: none;
}
.header .tnb{
    float: right;
    margin: 38px 0 0 0;
    transition: 0.5s;
}
.header .tnb a{
    display: block;
    margin-left: 10px;
    float: left;
}
.header .tnb a span{
    display: none;
}
.header .tnb a i{
    font-size: 30px;
    font-weight: 300;
}
.header.fixed{
    position: fixed;/*헤더고정*/
    height: 80px;    
    background-color: rgba(0,0,0,0.5);
}
.header.fixed .logo{
    margin-top: 19px;
}
.header.fixed .gnb>ul>li>a{
    line-height: 80px;
}
.header.fixed .tnb{
    margin: 25px 0 0 0;
}
@media screen and (max-width:640px){
    .header{
        height: 45px;    
    }
    .header .logo{
        margin: 14px 0 0 0;
    }
    .header .logo a img{/*모바일에서 선언을 새로함(img테그를 불러와야해서)*/
        width: 72px;
    }
    .header .gnb{
        float: right;
        margin: 13px 0 0 0;
    }
    .header .gnb>ul{
        display: none;
    }
    .header .gnb>ul{
        display: none;
    }
    .header .gnb>ul>li>ul{
        /*2차메뉴*/
        display: none;
    }
    .header .gnb .gnb_open{/*모바일버튼*/
        display: block;
    }
    .header .gnb .gnb_open span{
        display: none;
    }
    .header .gnb .gnb_open i{
        font-size: 20px;
    }
    .header .tnb{
        display: none;
    }
    .header.fixed{
        height: 45px;    
    }
    .header.fixed .logo{
        margin-top: 14px;
    }
}

.visual{
    position: relative;
    height: 1000px;
    background: url(../images/visual_bg.png) no-repeat center center/cover;
    background-attachment: fixed;/*뒤에 배경 고정시키는 작업*/
    color: #fff;
}
.visual .inner{
    position: absolute;
    left: 0;/*abslute와fixed는 무조건 left 와 top을 줘야한다(위치조정필수)*/
    top: 50%;/*무조건 50%이여야함 / 컨텐츠의 높이조절은 마진으로*/
    width: 100%;
    /* margin: -128px 0 0 0; */
    /*컨텐츠의 시작이 top에서 "50%=반절"부터 시작하기때문에
      컨텐츠의 반절이 50프로 에서 위로 즉, 가운데로 올라가야하기때문에 
      마이너스 컨텐츠의 총 높이의 반절을 준다 마진으로*/
    transform: translate(0,-128px);/*요즘엔 마진으로 안하고 transform을 쓴다 (좌우,위아래)*/
}
.visual h2{
    margin: 0 0 74px 0;
    font-size: 50px;
    font-weight: 100;
}
.visual h2 strong{
    font-weight: 700;
}
.visual a{
    display: inline-block;
    /*a는 원래 무조건 block 인데 여기서 inline-block을준다 
      왜냐하면 밑에 border가 글자이상 선이 그어지면 안되서*/
    padding: 2px 2px 2px 0;/*밑의 border 선을 글자에서 여백을 주기위해서*/
    font-weight: 700;
    border-bottom: 1px solid #fff;
}
@media screen and (max-width:640px){
    .visual{
        height: 760px;
        background-position: left 65% center;/*배경이미지가 조금 왼편으로 옮기는 작업*/
    }
    .visual .inner{
        /* margin: -128px 0 0 0; */
        /*컨텐츠의 시작이 top에서 "50%=반절"부터 시작하기때문에
          컨텐츠의 반절이 50프로 에서 위로 즉, 가운데로 올라가야하기때문에 
          마이너스 컨텐츠의 총 높이의 반절을 준다 마진으로*/
        transform: translate(0,10px);/*요즘엔 마진으로 안하고 transform을 쓴다 (좌우,위아래)*/
    }
    .visual h2{
        margin: 0 0 52px 0;
        font-size: 30px;
        line-height: 1.16;
    }
    .visual h2 span{
        display: block;
    }
}

.care .inner{
    position: relative;/*class ="more" 의 정렬 기준점이 되기위해서*/
}
.care .tit{
    /*float를 쓰지않고 저 안에 있는 모든 텍스트를 좌우로 정렬하는방법 */
    /* display: flex;
        align-items: flex-end; = 텍스트를 위아래 정렬 */
    margin: 63px 0 81px 0;
}
.care .tit h2{
    float: left;
    /* display: inline-block;
    vertical-align: bottom; = 텍스트 정렬을 밑단에서 맞추고 싶을때 */
    color: #1d1d1d;
    font-size: 50px;
    font-weight: 700;
}
.care .tit p{
    float: left;
    margin: 42px 0 0 20px;
    /* display: inline-block;
       vertical-align: bottom; */
}
.care .more{
    position: absolute;
    right: 0;
    top: 32px;  
}
.care .more a{
    display: block;
    width: 128px;
    height: 24px;
    line-height: 24px;
    border-bottom: 1px solid #3d3d3d;
}
.care .more a span{
    float: left;
}
.care .more a i{
    float: right;
    margin: 6px 0 0 0;
    font-size: 15px;
}
.care .more a:hover{
    color: #00AE4D;
    border-bottom-color: #00AE4D;
}
.care ul li{
    float: left;
    width: 440px;
    margin: 0 40px 80px 0;
}
.care ul li:nth-child(3), .care ul li:nth-child(6){
    margin-right: 0;
}
.care ul li:nth-child(2), .care ul li:nth-child(5){
    margin-top: 80px;
}
.care ul li a{
    display: block;
}
/*
    마우스 오버시 이미지 확대
        1. 이미지만 감싸는 별도의 영역 필요
        2. 해당 영역은 overflow:hidden; 과 높이 설정이 필요(높이만 필요)
            높이는 100%
        3. 감싸는 영역에서 font-size:0, line-height:0 으로 이미지 하단에 발생하는 행간을 삭제해야함
        4. 이미지에 미리 (오버전) transtition을 줘서 자연스럽게 확대되도록 해야함
        5. 오버후 이미지를 transform:scale3d(확대값,확대값,1)을 준다
*/
.care ul li a span{/*이미지 모서리 둥글게하기/ 이미지가 커지는 상황(마우스오버)*/
    display: block;
    overflow: hidden;
    height: 100%;
    border-radius: 10px;
    /* 이미지 테그 자체에 행간이 있어서 
       이미지 하단의 행간을 삭세하려고 감싸는 요소에 준다 */
    font-size: 0;
    line-height: 0;
}
.care ul li a span img{/*마우스 오버를 주기전에 따로 테그를 불러서 먼저 transition 줘야함*/
    transition: 0.5s;/*효과가 천천히 나타남*/
}
.care ul li a:hover span img{/*이미지에 마우스 오버했을경우 생기는 효과*/
    transform: scale3d(1.2,1.2, 1);/*scale(x값 y값 z 값)*/
    /*1.2은 좌우 넓이 배율(120% = 1.2)
      마지막 1은 축 - 1을 줘야 가운데에서 늘어남*/
}
.care ul li a:hover span{/*마우스 오버됬을때 그 뒤에 생기는 쉐도우 효과*/
    /*img 테그 말고 그걸 감싸는 span 테그에 줘야한다*/
    box-shadow: 10px 10px 20px rgba(0,0,0,0.1);
}
.care ul li a dl{/*항목명이 바뀌지않을때 쓰는 목록테그*/
    margin: 10px 0 0 20px;
    line-height: 2;
}
.care ul li a dl dt{
    float: left;
    font-weight: 700;    
}
.care ul li a dl dd{
    display: block;
    position: relative;/*before테그의 기준점*/
    margin: 0 0 0 89px;/*글자포함해서 왼쪽 끝까지 여백 재야함*/
}
.care ul li a dl dd::before{/*dd 와 dt 테그 사이의 짝대기 주는 테그*/
    position: absolute;
    left: -16px;
    top: 11px;
    width: 1px;
    height: 10px;
    background-color: #ccc;
    content: "";
}
@media screen and (max-width:640px){
    .care .tit{
        margin: 40px 0 16px 0;
    }
    .care .tit h2{
        float: none;        
        font-size: 30px;
        line-height: 1.16;
    }
    .care .tit p{
        float: none;
        margin: 9px 0 0 0;
    }
    .care .more{
        position: relative;
        right: auto;
        top: auto;
        text-align: center;
        margin: 0 0 60px 0;
    }
    .care .more a{
        display: inline-block;/*인라인블록이여야 가운데 정렬이 된다*/
        width: 123px;
        height: 19px;
        line-height: 19px;
    }
    .care .more a i{
        margin: 3px 0 0 0;
        font-size: 10px;
    }
    .care ul li{
        float: none;
        width: auto;
        margin: 0 0 35px 0;
    }
    .care ul li:nth-child(2), .care ul li:nth-child(5){
        margin-top: 0;
    }
    .care ul li:nth-child(4), .care ul li:nth-child(5), .care ul li:nth-child(6){
        display: none;
    }
    .care ul li a span img{
        width: 100%;/*모바일이라서 넓이에 맞춰서 늘고줄고 한다*/
    }
    .care ul li a dl{/*항목명이 바뀌지않을때 쓰는 목록테그*/
        margin: 10px 0 0 10px;
        line-height: 1.75;
    }
    .care ul li a dl dd::before{/*dd 와 dt 테그 사이의 짝대기 주는 테그*/
        left: -20px;
        top: 8px;
        height: 7px;
    }
}

.step{
    height: 718px;
    margin: 60px 0 0 0;
    background: url(../images/step_bg.png) no-repeat center center/cover;
    color: #fff;
}
.step .tit{
    padding: 134px 0 89px 0;
}
.step .tit h2{
    float: left;
    font-size: 50px;
    font-weight: 700;
}
.step .tit p{
    float: left;
    margin: 42px 0 0 20px;
}
.step .ctrl{
    display: none;
}
.step .list ol li{
    float: left;
    width: 200px;
    height: 235px;/*높이가 똑같이 정렬되는 것들은 높이를 무조건 준다*/
    padding: 17px 20px 0 20px;
    margin: 0 40px 0 0;
    background-color: rgba(255,255,255,0.2);
}
.step .list ol li:last-child{
    margin-right: 0;
}
.step .list ol li strong{
    display: block;
    color: rgba(255,255,255,0.7);
    font-size: 30px;
    font-weight: 700;
}
.step .list ol li h3{
    padding-bottom: 15px;
    font-size: 25px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.step .list ol li p{
    margin: 41px 0 0 0;
    color: rgba(255,255,255,0.7);
}
@media screen and (max-width:640px){
    .step{
        height: auto;
        padding: 0 0 83px 0;/*모바일에서 높이를 고정을 못시켜서 패딩으로 중간의 컨텐츠와 밑단 사이의 여백*/
        margin: 60px 0 0 0;
    }
    .step .tit{
        padding: 55px 0 20px 0;
    }
    .step .tit h2{
        float: none;
        font-size: 30px;
        line-height: 1.16;
    }
    .step .tit p{
        float: none;
        margin: 10px 0 0 0;
    }
    .step .ctrl{
        display: block;
        margin: 0 0 30px 0;
        text-align: center;/*버튼 가운데 배치*/
    }
    .step .ctrl button{
        width: 30px;
        height: 30px;
        margin: 0 2px;
        border-radius: 15px;
        border: 1px solid rgba(255,255,255,0.5);
    }
    .step .ctrl button span{
        display: none;
    }
    .step .ctrl button i{
        margin: 4px 0 0 0;
        font-size: 15px;
        color: rgba(255,255,255,0.5);
    }
    .step .list{
        overflow: hidden;
        position: relative;
        height: 179px /*넓이값은 block요소라서 자동으로 들어간다*/
    }
    /*
        jquery에서 ol을 움직일 예정
        그럼 반드시 ol이 absolute여야 한다
        감싸는 요소는 overflow가 들어감(긴ol를 일부만 보이게 하기 위해서)
        ol이 absoulte면 감싸는 요소가 절대 인식을 못함
        그래서 감싸는 요소는 반드시 높이값을 가지고 있어야함
    */
    .step .list ol{
        position: absolute;
        left: 0;
        top: 0;
    }
    .step .list ol li{
        width: 200px;/*제이쿼리로 계산해서 줘야함*/
        height: 179px;/*컨텐츠 안에 내용이 다 달라서 패딩으로 높이를 주면 일정하지 않아서 높이 고정을해야한다*/
        padding: 18px 16px 0 16px;/*박스와 안에 내용 사이의 여백*/
        margin: 0 16px 0 0;
    }
    .step .list ol li strong{
        font-size: 20px;
    }
    .step .list ol li h3{
        padding-bottom: 11px;
        font-size: 15px;
    }
    .step .list ol li p{
        margin: 7px 0 0 0;
    }
}

.news {
    margin: 0 0 189px 0;
}
.news .inner{
    position: relative;
}
.news .tit{
    /*float를 쓰지않고 저 안에 있는 모든 텍스트를 좌우로 정렬하는방법 */
    /* display: flex;
        align-items: flex-end; = 텍스트를 위아래 정렬 */
    margin: 63px 0 81px 0;
}
.news .tit h2{
    float: left;
    /* display: inline-block;
    vertical-align: bottom; = 텍스트 정렬을 밑단에서 맞추고 싶을때 */
    color: #1d1d1d;
    font-size: 50px;
    font-weight: 700;
}
.news .tit p{
    float: left;
    margin: 42px 0 0 20px;
    /* display: inline-block;
       vertical-align: bottom; */
}
.news .more{
    position: absolute;
    right: 0;
    top: 32px;  
}
.news .more a{
    display: block;
    width: 128px;
    height: 24px;
    line-height: 24px;
    border-bottom: 1px solid #3d3d3d;
}
.news .more a span{
    float: left;
}
.news .more a i{
    float: right;
    margin: 6px 0 0 0;
    font-size: 15px;
}
.news .more a:hover{
    color: #00AE4D;
    border-bottom-color: #00AE4D;
}
.news ul li{/*li가 각각 다르면 다수의 li를 기준점으로 잡는다*/
    float: left;
    width: 558px;    
}
.news ul li a{/*a 가 눌려야하기 때문에 높이를 a 한테 준다*/
    display: block;
    height: 167px;
    padding: 44px 40px 0 40px;
    background-color: #F4F4F4;
}
.news ul li a:hover{
    box-shadow: 10px 10px 20px rgba(0,0,0,0.1);
}
.news ul li a .pic{/*hover하기전에 선언하기*/
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}
.news ul li a .pic img{/*부드럽게 바꾸기효과  hover하기 전에 선언하기*/
    transition: 0.5s;
}
.news ul li a:hover .pic img{
    transform: scale3d(1.2,1.2,1);
}
.news ul li a .subject{
    display: block;
    margin: 0 0 28px 0;
    font-size: 20px;
    font-weight: 700;
    /*1줄만나오게하는*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.news ul li a .date{
    display: block;
    color: #666666;
}
.news ul li a .date span:first-child{
    position: relative;
    margin: 0 36px 0 0;
}
.news ul li a .date span:first-child::after{
    position: absolute;
    right: -23px;
    top: 6px;
    width: 1px;
    height: 10px;
    background-color: #CCCCCC;
    content: "";
}
.news ul li:first-child{
    width: 800px;
    margin: 0 40px 0 0;
}
.news ul li:first-child a{
    height: 374px;
}
.news ul li:first-child a .pic{
    float: left;
}
.news ul li:first-child a .inner2{
    float: right;
    width: 320px;/*컨텐츠 내용이 길면 넓이를 줘야한다*/
}
.news ul li:first-child a .content{
    display: block;
    margin: 30px 0 31px 0;
    /*8줄*/
    line-height: 1.5;
    height: 12em;
    overflow: hidden;
}
.news ul li:nth-child(2){
    margin-bottom: 40px;
}
@media screen and (max-width:640px){
    .news {
        margin: 0;
        padding: 0 0 66px 0;
        background-color: #F4F4F4;
    }
    .news .tit{
        margin: 0 0 6px 0;
        padding: 40px 0 0 0;
    }
    .news .tit h2{
        float: none;
        font-size: 30px;
        line-height: 1.16;
    }
    .news .tit p{
        float: none;
        margin: 10px 0 0 0;
    }
    .news .more{
        position: relative;
        right: auto;
        top: auto;
        margin: 41px 0 0 0;
        text-align: center;  
    }
    .news .more a{
        display: inline-block;
        width: 123px;
        height: 19px;
        line-height: 19px;
    }
    .news .more a i{
        margin: 4px 0 0 0;
        font-size: 10px;
    }
    .news ul li{/*브라우저 넓이에 따라 자유롭게 변경*/
        float: none;
        width: auto;
        border-bottom: 1px solid #ccc;    
    }
    .news ul li:last-child{
        border-bottom: 0;
    }
    .news ul li a{/*a 가 눌려야하기 때문에 높이를 a 한테 준다*/
        height: auto;
        padding: 20px 0;
        background-color: transparent;
    }
    .news ul li a .pic{
        display: block;
    }
    .news ul li a .pic img{
        width: 100%;/*브라우저 줄엇다 늘엇다 할때 꽉맞춰서 나타남*/
    }
    .news ul li a .subject{
        margin: 0 0 10px 0;
        font-size: 15px;
        /*1줄만나오게하는거 해지하는방법*/
        white-space: normal;
        overflow: visible;
    }
    .news ul li a .date span:first-child{
        margin: 0 29px 0 0;
    }
    .news ul li a .date span:first-child::after{
        right: -18px;
        top: 5px;
        height: 7px;
    }
    .news ul li:first-child{
        width: auto;
        margin: 0;
        box-shadow: none;
    }
    .news ul li:first-child a{
        height: auto;
    }
    .news ul li:first-child a .pic{
        float: none;
    }
    .news ul li:first-child a .inner2{
        float: none;
        width: auto;/*위아래로 정렬되야 해서 다 풀어줘야한다*/
    }
    .news ul li:first-child a .content{
        margin: 0 0 20px 0;
        /*4줄*/
        height: 6em;
    }
    .news ul li:nth-child(2){
        margin-bottom: 0;
    }
}

.footer{
    background-color: #3D3D3D;
    color: rgba(255,255,255,0.8);
}
.footer .inner{
    position: relative;
}
.footer .family{
    position: absolute;
    right: 0;
    top: 44px;/*페밀리 사이트 버튼테그 위쪽 여백*/
}
.footer .family button{
    width: 200px;
    height: 41px;
    padding: 0 10px 0 15px;
    border: 1px solid rgba(255,255,255,0.8);
}
.footer .family button span{
    float: left;
}
.footer .family button i{
    float: right;
    margin: 4px 0 0 0;/*아이콘 위치조정*/
    font-size: 15px;
}
.footer .family button.close{
    display: none;
}
.footer .family ul{
    display: none;
    position: absolute;
    left: 0;
    bottom: 41px;
    width: 100%;/*엡솔루트한테 준 요소에 넓이 100%줘야 페밀리 사이트 사이즈에맞게 똑같이 넓게 들억나다*/
    box-shadow: -3px -3px 10px rgba(0,0,0,0.1) ;/*버튼 눌렀을때 올라오는 박스 근처에 쉐도우주기*/
}
.footer .family.fa_open ul{
    display: block;
}
.footer .family.fa_open button.close{
    display: block;
}
.footer .family.fa_open button.open{
    display: none;
}
.footer .family ul li{
    border-bottom: 1px solid #ccc;
}
.footer .family ul li:last-child{
    border-bottom: 0;
}
.footer .family ul li a{
    display: block;
    padding: 0 0 0 15px;
    line-height: 35px;
    background-color: #fff;
    color: #3D3D3D;
}
.footer .family ul li a:hover{
    color: #00AE4D;
    font-weight: 700;
}
.footer .f_nav{
    padding: 47px 0 0 0;
}
.footer .f_nav li{
    float: left;
    position: relative;
    margin: 0 34px 0 0;
}
.footer .f_nav li::after{
    position: absolute;
    right: -19px;
    top: 6px;
    width: 1px;
    height: 10px;
    background-color: rgba(255,255,255,0.2);
    content: "";
}
.footer .f_nav li:last-child::after{
    display: none;
}
.footer .f_nav li.privacy{
    font-weight: 700;
}
.footer .f_info{
    margin: 51px 0 8px 0;
}
.footer .copyright{
    padding: 0 0 114px 0;
    color: rgba(255,255,255,0.6);
}
@media screen and (max-width:640px){
    .footer .family{
        position: relative;
        right: auto;
        top: auto;/*페밀리 사이트 버튼테그 위쪽 여백*/
        width: 167px;/*가운데 정렬버튼이 가지고 있는 넓이값을 같은값을 갖는다*/
        margin: 0 auto;/*가운데 정렬 (대신 div로 감싸져있어야한다)*/
        padding: 50px 0 0 0;
    }
    .footer .family button{
        width: 167px;
        height: 31px;
    }
    .footer .family button i{
        margin: 3px 0 0 0;/*아이콘 위치조정*/
        font-size: 13px;
    }
    .footer .family ul{
        bottom: 31px;/*버튼의 높이와 값이 똑같아야한다*/
        width: 100%;/*엡솔루트한테 준 요소에 넓이 100%줘야 페밀리 사이트 사이즈에맞게 똑같이 넓게 들억나다*/
    }
    .footer .family ul li a:hover{
        color: #00AE4D;
        font-weight: 700;
    }
    .footer .f_nav{
        padding: 50px 0 0 0;
    }
    .footer .f_nav li{
        margin: 0 20px 0 0;
    }
    .footer .f_nav li::after{
        right: -12px;
        top: 9px;
        height: 7px;
    }
    .footer .f_info{
        margin: 37px 0 5px 0;
    }
    .footer .copyright{
        padding: 0 0 73px 0;
    }
}