@import url(../css/default.css);
@import url(../css/common.css);

.visual h2{
    position: absolute;
    left: calc(50% - 700px);/*글자를 왼쪽으로 정렬값*/
    top: 50%;
    z-index: 12;
    font-size: 65px;
    font-weight: 700;
    line-height: 1.2;
    color: #FFF;
    transform: translate(0,-50%);/*글자를 위아래 가운대로 정렬값*/
    /*fullpage.js 플러그인에서 한 section에 글자가 단 하나만 존재할때
      해당 글자에 line-height가 들어가면 해당 section에서는 scroll이 작동안됨*/
}

.visual .bg{
    position: absolute;
    /*top,bottom,left,right 모두 다 0 으로 주면
      width:100%; height:100%; 적용되는거와 같은값이 적용된다*/
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 11;
    background-color: rgba(0,0,0,0.3);
}
.visual video{
    position:absolute;
    left:0;
    bottom:0;
    top:0;
    z-index: 10;
    width:100%;
    height:100%;
    object-fit:cover; 
}
@media screen and (max-width:1440px){
    .visual h2{
        left: 20px;/*컨텐츠영역(1400px) + 양쪽 여백(20px + 20px) = 1440px 부터*/
    }
}
@media screen and (max-width:1200px){
    .visual h2{
        font-size: 50px;
    }
}
@media screen and (max-width:1000px){
    .visual h2{
        font-size: 40px;
    }
}
@media screen and (max-width:640px){
    /*만약 fullpage를 모바일에서 해제하고 높이를 제한해야한다면,
      section 클래스를 준 요소말고 그 아에 있는 요소한테 높이를 줘야함
      (div로 따로 한번더 묶어줘야한다는 소리)*/
    .visual .inner{
        height: 422px;
    }
    .visual h2{
        font-size: 30px;
    }
}

.numbers{
    padding: 60px 0 0 0;
    /* 컨텐츠가 header의 높이와 무관하게 위아래 가운데 배치되서(메뉴바가 같이 내려와 자리를 더 차지해서)
       약간 상단여백이 부족해보임 - 그래서 상단 여백을 추가로 줌*/
    background-color: #926D49;
    color: #FFF;
}
.numbers .tit{
    margin: 0 0 0 120px;
}
.numbers .tit h2{
    margin: 0 0 30px 0;
    font-size: 40px;
    line-height: 1.2;
}
.numbers .tit h2 strong{
    font-weight: 700;
}
.numbers .tit p{
    line-height: 1.3;
}
.numbers .tit p span{
    display: block;
}
.numbers .rate{
    position: absolute;/*영역의 기준은 fullpage(1920px의 기준으로) 때문에 이미 잡혀있다*/
    left: calc(50% + 100px);
    top: calc(50% + 35px);/*.numbers 에서 준 상단 패딩값으로 컨텐츠를 조금 내려서 .rate도 같이 내려준다*/
    width: 50%;
    transform: translate(0,-50%);
}
.numbers .rate ul li{
    position: relative;
    margin-bottom: 60px;
}
.numbers .rate ul li::after{
    position: absolute;
    left: 0;
    top: 90px;
    z-index: -1;
    width: 100%;
    height: 1px;
    background-color: rgba(255,255,255,0.5);
    content: "";
}
.numbers .rate ul li:last-child{
    margin-bottom: 0;
}
.numbers .rate ul li .num strong{
    display: inline-block;
    background-color: #926D49;
    font-size: 65px;
    font-weight: 700;
}
.numbers .rate ul li .num span{
    display: inline-block;
    position: relative;
    padding: 0 10px 0 5px; /*뒤에 after로 그은선 안보이게 하려면 margin 말고 padding 줘야함*/
    background-color: #926D49;
    font-size: 25px;
    font-weight: 700;
}
/*after로 선긋는 방법 2번째 */
/* .numbers .rate ul li .num span::after{
    position: absolute;
    top: 20px;
    left: 140%;
    width: 100000%;
    height: 1px;
    background-color: rgba(255,255,255,0.5);
    content: "";
} */
@media screen and (max-width:1440px){
    .numbers .tit{
        margin: 0 0 0 80px;
    }
}
@media screen and (max-width:1200px){
    /* .numbers .rate{
        left: 50%;
    } */
    .numbers .rate ul li::after{
        top: 79px;
    }
    .numbers .rate ul li .num strong{
        font-size: 55px;
    }
}
@media screen and (max-width:1000px){
    .numbers .tit{
        margin: 0 0 0 50px;
    }
    .numbers .tit h2{
        margin: 0 0 20px 0;
        font-size: 40px;
    }
    .numbers .rate ul li::after{
        top: 72px;
        width: 120%;/*20% 더 줘야한다(wrapper 영역 20 프로를 넘어가게끔)*/
    }
    .numbers .rate ul li .num strong{
        font-size: 50px;
    }
    .numbers .rate ul li .num span{
        font-size: 17px;
    }
}
@media screen and (max-width:800px){
    .numbers .rate{
        left: 50%;
    }
    .numbers .tit{
        margin: 0;
    }
    .numbers .tit h2{
        margin: 0 0 10px 0;
        font-size: 30px;
    }
    .numbers .rate ul li::after{
        top: 60px;
    }
    .numbers .rate ul li .num strong{
        font-size: 40px;
    }
    .numbers .rate ul li .num span{
        font-size: 15px;
    }
}
@media screen and (max-width:640px){
    .numbers{
        padding: 20px 0 33px 0;
    }
    .numbers .tit{
        margin: 0 0 50px 0;
    }
    .numbers .tit h2{
        font-size: 25px;
    }
    .numbers .tit p span{
        display: inline;
    }
    .numbers .rate{
        position: relative;/*영역의 기준은 fullpage(1920px의 기준으로) 때문에 이미 잡혀있다*/
        left: auto;
        top: auto;
        width: auto;
        transform: translate(0,0);
    }
    .numbers .rate ul li{
        margin-bottom: 20px;
    }
    .numbers .rate ul li::after{
        top: 48px;
    }
    .numbers .rate ul li .num strong{
        font-size: 30px;
    }
    .numbers .rate ul li .num span{
        padding: 0 7px 0 3px; /*뒤에 after로 그은선 안보이게 하려면 margin 말고 padding 줘야함*/
        font-size: 15px;
    }
}

.biz{
    padding: 50px 0 0 0;/*메뉴바때문에 상단 여백이 하단이랑 안맞을거 같을때 주는여백*/
    background-color: #FBF6F1;
}
.biz .biz_wrap{
    /*반응형 브라우저가 줄어들때 이미지와 이너안에 있는 글자들이 양옆으로 나란히 줄어들게 하는값*/
    display: flex;
    align-items: center;
}
.biz img{
    width: calc(100% - 523px);/*wrapper 1440, 그안에 이미지가 877px = 877/1440*100=60.90%*/
}
.biz .inner{
    width: 340px; /*340/1440*100=23.61%*/
    margin: 0 0 0 80px;
}
.biz a strong{
    display: block;/*인라인 요소라서 블록을 주는게좋다*/
}
.biz a h2{
    margin: 5px 0 30px 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
}
.biz a .country{
    margin: 20px 0 43px 0;
    color: #666;
}
.biz a .more{/*more버튼 아이콘 대신 css로 그린다*/
    position: relative;
    width: 30px;
    height: 30px;
    border: 1px solid #666;
    border-radius: 50%;/*정사각형인 경우에만, border-radius:50% 를 주면 사이즈에 상관없이 원형이 그려짐*/
    transition: 0.5s;/*more:hover에 transform 값을 줘서 원래 선언한값에 transition 줘야 적용이 된다*/
}
.biz a .more::before{/*모어 버튼의 동그라미 안에있는 십자가 모양(가로선모양)*/
    position: absolute;
    left: 25%;/*넓이값을 50%를 줬기때문에 나머지 50을 좌우값으로 나눈다면 25가 되기때문에 left를 25%를 준다*/
    top: 50%;
    width: 50%;/*브라우저 사이즈에 맞게 모양이 변형되려면 %로 주는게 좋다*/
    height: 1px;
    background: #666;
    content: "";
}
.biz a .more::after{/*(세로선모양)*/
    position: absolute;
    left: 50%;
    top: 25%;
    width: 1px;/*브라우저 사이즈에 맞게 모양이 변형되려면 %로 주는게 좋다*/
    height: 50%;
    background: #666;
    content: "";
}
.biz a .more:hover{
    transform: rotate(180deg);/*a 에 마우스를 오버하면 more 버튼이 내가준 각도에 맞게 돌아간다*/
}
@media screen and (max-width:1200px){
    .biz img{
        width: calc(100% - 450px);/*wrapper 1440, 그안에 이미지가 877px = 877/1440*100=60.90%*/
    }
    .biz .inner{
        width: 340px; /*340/1440*100=23.61%*/
        margin: 0 0 0 40px;
    }
    .biz a h2{
        margin: 5px 0 25px 0;
        font-size: 35px;
    }
    .biz a .country{
        margin: 20px 0 0 0;
    }
    .biz a .more{
        display: none;
    }
}
@media screen and (max-width:1000px){
    .biz img{
        width: calc(100% - 400px);/*wrapper 1440, 그안에 이미지가 877px = 877/1440*100=60.90%*/
    }
    .biz .inner{
        width: 300px; /*340/1440*100=23.61%*/
        margin: 0 0 0 30px;
    }
    .biz a h2{
        margin: 0 0 15px 0;
        font-size: 30px;
    }
}
@media screen and (max-width:800px){
    .biz img{
        width: calc(100% - 350px);/*wrapper 1440, 그안에 이미지가 877px = 877/1440*100=60.90%*/
    }
    .biz .inner{
        margin: 0 0 0 20px;
    }
    .biz a h2{
        margin: 0 0 10px 0;
        font-size: 25px;
    }
}
@media screen and (max-width:640px){
    .biz{
        padding: 62px 0 64px 0;
    }
    .biz .biz_wrap{
        display: block; /*사진과 이너를 양옆으로 배치하는걸 해지*/
    }
    .biz img{
        width: 100%;/*모바일에선 영역에 맞게 꽉차야해서*/
    }
    .biz .inner{
        width: auto;/*pc에서 준 넓이값을 해제시키는게 auto*/
        margin: 20px 0 0 0;
    }
    .biz a h2{
        margin: 0 0 20px 0;
        font-size: 25px;
    }
    .biz a .country{
        margin: 10px 0 0 0;
    }
    .biz a .more{/*more버튼 아이콘 대신 css로 그린다*/
       display: none;
    }
}

.news{
    padding: 50px 0 0 0;
}
.news h2{
    margin: 0 55px 40px 0;
    /*제목 오른쪽(55px)에 more버튼이 엡솔루트로 들어갈걸 감안해서 more가 들어갈 만한 영역을 여백으로줌*/
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
}
.news .list ul li a{/*a 테그 안에 있는 인라인테그는 블록테그로 값을줘야한다*/
    display: block;
}
.news .list ul li a span{
    display: block;
    overflow: hidden;/*마우스 오버시 영역안에서만 바껴야해서 이값을 줘야 자기 영역안에서만 늘어남*/
    /*이미지가 마우스 오버시overflow:hidden을줘도 
      img테그가 블록 요소라 사이즈를 가지고있기때문에 글자행간크기를 0을 줘야함*/
    font-size: 0;
    line-height: 0;
}
.news .list ul li a span img{
    width: 100%;
    transition: 0.4s;
}
.news .list ul li a:hover span img{
    transform: scale3d(1.2,1.2,1);/*마지막숫자는 무조건 1*/
}
.news .list ul li a strong{
    display: block;
    margin: 15px 0 0 0;
    font-size: 17px;
    font-weight: 700;
    /*제목을 2줄로 고정(브라우저사이즈 줄어들때를 대비해서)*/
    line-height: 1.5;
    height: 3em;
    overflow: hidden;
}
.news .list .btn_paging{
    margin: 30px 0 0 0;
    display: flex;
    justify-content: center;
}
.news .list .btn_paging span{/*플러그인으로 기본으로 스타일 들어갔던거 바꾸는 값*/
    display: block;
    width: 7px;
    height: 7px;
    margin: 0 5px;
    border-radius: 50%;
    border: 1px solid #ED1B2D;
    background-color: #fff;
    opacity: 1;
}
.news .list .btn_paging span.swiper-pagination-bullet-active{
    background-color: #ED1B2D;
}
.news .more{/*more버튼 아이콘 대신 css로 그린다*/
    position: absolute;
    right: 20px;/*반응형 이후 wrapper 사이즈 = 1440(+40양옆20씩) 그래서 시작점이 20을 잡아줘야함 */
    top: 25px;
    width: 30px;
    height: 30px;
    border: 1px solid #666;
    border-radius: 50%;/*정사각형인 경우에만, border-radius:50% 를 주면 사이즈에 상관없이 원형이 그려짐*/
    transition: 0.5s;/*more:hover에 transform 값을 줘서 원래 선언한값에 transition 줘야 적용이 된다*/
    font-size: 0;
    line-height: 0;
}
.news .more::before{/*모어 버튼의 동그라미 안에있는 십자가 모양(가로선모양)*/
    position: absolute;
    left: 25%;/*넓이값을 50%를 줬기때문에 나머지 50을 좌우값으로 나눈다면 25가 되기때문에 left를 25%를 준다*/
    top: 50%;
    width: 50%;/*브라우저 사이즈에 맞게 모양이 변형되려면 %로 주는게 좋다*/
    height: 1px;
    background: #666;
    content: "";
}
.news .more::after{/*(세로선모양)*/
    position: absolute;
    left: 50%;
    top: 25%;
    width: 1px;/*브라우저 사이즈에 맞게 모양이 변형되려면 %로 주는게 좋다*/
    height: 50%;
    background: #666;
    content: "";
}
.news .more:hover{
    transform: rotate(180deg);/*a 에 마우스를 오버하면 more 버튼이 내가준 각도에 맞게 돌아간다*/
}
@media screen and (max-width:1000px){
    .news h2{
        margin: 0 55px 30px 0;
        /*제목 오른쪽(55px)에 more버튼이 엡솔루트로 들어갈걸 감안해서 more가 들어갈 만한 영역을 여백으로줌*/
        font-size: 35px;
    }
}
@media screen and (max-width:800px){
    .news h2{
        margin: 0 55px 20px 0;
        /*제목 오른쪽(55px)에 more버튼이 엡솔루트로 들어갈걸 감안해서 more가 들어갈 만한 영역을 여백으로줌*/
        font-size: 35px;
    }
    .news h2 span{
        display: block;
    }
    .news .more{/*more버튼 아이콘 대신 css로 그린다*/
        top: 50px;
    }
}
@media screen and (max-width:640px){
    .news{
        padding: 0 0 32px 0;
    }
    .news h2{
        margin: 0 55px 20px 0;
        font-size: 25px;
    }
    .news h2 span{
        display: block;
    }
    .news .list ul li a strong{
        margin: 10px 0 0 0;
        font-size: 15px;
    }
    .news .more{/*more버튼 아이콘 대신 css로 그린다*/
        top: 32px;
    }
}

.support{
    padding: 50px 0 0 0;
    background-color: #FFF3F3;
}
.support .support_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.support .inner{
    margin: 0 0 0 2.1%; /*퍼센트로 여백줘야함 30px / 1400 *100*/
}
.support h2{
    margin: 0 0 30px 0;
    font-size: 40px;
    line-height: 1.2;
    color: #1d1d1d;
}
.support h2 strong{
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
}
.support h2 span{/*pc 에서 줄바꿈*/
    display: block;
}
.support ul{/*브라우저가 늘고 줄을때, 조금더 수월하게 li들의 크기를 조정하려면 ul을 100%로 바라봐야한다*/
    width: 54.3%; /*760(ul의총넓이) / 1400 * 100 */
    margin: 0 2.2% 0 0;
    
}
.support ul li{
    float: left;
    /*퍼센트로 li값 주는것*/
    /*ul의 총넓이760px - li한개의 넓이360px :  360/760*100 =47.4%
    width: 47.4%;*/
    
    /*여백이 위아래,좌우 고정일때 100% / li갯수 = 50% -(한줄에 들어가는 모든여백의 합(40px)/li의갯수)
      (100/2)% - (40/2)px = calc(50% - 20px)*/
    width: calc(50% - 20px);
    margin: 20px 40px 20px 0;/*47.4 *2 - 100(총 넓이 마진 합쳐서 총합이 100 이 되야해서)*/
    /*li하나의 하단여백이 40px인데, 컨텐츠 가운데에 배치해야해서 위아래 여백을 반으로 나눠서 준다*/
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.support ul li a{
    display: block;
    height: 250px;/*높이값은 고정. a테그에 줘야 브라우저에서 잘눌린다*/
    /*a 의 사이즈의 기준으로 %코딩
      가로패딩 = 50(px) / 360(하나의li값px) * 100 = 13.88%
      세로패딩 = 60(px) / 360 * 100 = 16.66% */
    padding: 16.66% 13.88% 0 13.88%;
    /*가로는 브라우저의 넓이의 따라서 사이즈의 변화가 심함, % 여백주면 좋음
      단, 세로(높이)는 대부분 px로 여백을 주는게 더좋음*/
}
.support ul li a span{
    display: block;
}
.support ul li a strong{
    display: block;
    margin: 5px 0 0 0;
    font-size: 30px;
    font-weight: 700;
}
.support ul li:nth-child(1),
.support ul li:nth-child(3){
    transform: translate(0,-30px);/*li의 1,3번째 위로 올리는값*/
}
.support ul li:nth-child(2),
.support ul li:nth-child(4){
    margin-right: 0;
    transform: translate(0,30px);/*li의 2,4번째 아래로 내리는값*/
}



/* fullpage 공통사항 */


/*오른쪽 네비게이션 디자인 변경
  선택자가 #fp-nav ul li인 것과 body #fp-nav ul li 인것이 동시에 존재한다면
  body 부터 선언한 요소가 먼저 적용됩니다(단,뒤에불리는 선택자가 무조건 똑같아야함)*/
body #fp-nav ul li{
    width: 12px;
    height: 12px;
    margin: 10px;
}
body #fp-nav ul li:last-child{/*푸터의네비게이션 마지막 동그라미 삭제*/
    display: none;
}
body #fp-nav ul li a span,
body #fp-nav ul li:hover a span{
    height: 6px;
    width: 6px;
    border: 0;
    background: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
}
body #fp-nav ul li a.active span,
body #fp-nav ul li:hover a.active span{
    height: 100%;
    width: 100%;
    margin: 0;
    background: #ED1B2D;
}
body #fp-nav ul li .fp-tooltip {
    top: -2px;
    right: 30px !important;
    background-color: #ED1B2D;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
    font-family: 'Noto Sans KR', 'NanumGothic', 'Malgun Gothic', 'Apple SD Gothic', 'Apple SD Gothic Neo', 'Dotum', sans-serif;
    max-width: max-content;/*컨텐츠 있는만큼 영역 다 */
    padding: 1px 10px 2px 10px;
    overflow: visible;
    width: auto;
}
body #fp-nav ul li .fp-tooltip::after{
    position: absolute;
    right: -2px;
    top: 6px;
    width: 10px;
    height: 10px;
    background-color: #ED1B2D;
    transform: rotate(45deg);
    content: "";
}

/*어두운 툴팁*/
body #fp-nav.black ul li a span,
body #fp-nav.black ul li:hover a span{
    background: #ccc;
}
body #fp-nav.black ul li a.active span,
body #fp-nav.black ul li:hover a.active span{
    background: #1d1d1d;
}
body #fp-nav.black ul li .fp-tooltip {
    background-color: #1d1d1d;
}
body #fp-nav.black ul li .fp-tooltip::after{
    background-color: #1d1d1d;
}


.fp-watermark{/*fullpage copyright 삭제*/
    display: none;
}
body .section .fp-overflow{
    overflow: visible;
}

/*모바일에서 fullpage적용 해제하는데 발생하는 오류 수정*/
@media screen and (max-width:640px){
    .fp-responsive .fp-is-overflow.fp-section{
        min-height: auto !important;
        /*fullpage.js 에서 640 이하일때는 fullpage 적용하지 않도록함
          근데 이때 min-height이 해제 되지않아서 이전 fullpage 높이가 잡힘
          그래서 min-height: auto; 를 줘야하는 상황
          visual에 min-height:auto; 적용되지않음(css 적용 우선순위에 밀려서)
          이때 내가 적용한 값을 먼저 적용하게 하는게
          min-height: auto !important;
          
          이때 플러그인을 써서 내가 주지않을 스타일을 고쳐서 쓸때만 !important;*/
    }
}