/* 모든 페이지에 공통으로 들어간느 스타일 (header/footer) */

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");
html,body{
    /*브라우저사이즈가 작아졌을때 배경이 안잘리게 하는테그,(가로스크롤이 생성되었을때 배경이 않잘리기위해*/
    color: #3d3d3d;
    line-height: 1.5;
    /*폰트 적용 우선순위
      만약에 웹폰트가 지원되지 않으면 그 다음에 선언된 폰트가 적용됨
      apple sd gothic- 아이폰에서 지원하는 폰트*/
    font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 15px;
    font-weight: 400;
    /* letter-spacing: -0.05em; */ 
    word-break: keep-all;/*단어별 줄바꿈*/
}
#wrap{/*id="wrap"*/
    overflow: hidden;
    /*header의 기준점이 되야 헤더가 정확한 위치에 배열이 된다
      윈도우 사이즈가 줄어들었을때 스크린 크기에 따라 헤더가 따라오는게 아니라
      1400이전으로 사이즈가 줄어들면 가로스크롤바가 생기면서 원래 위치인 제일 오른쪽에있는
      컨텐츠가 그자리에 있는다*/
    position: relative;
    min-width: 1400px;
    /*브라우저사이즈가 작아졌을때 배경이 안잘리게 하는테그,(가로스크롤이 생성되었을때 배경이 않잘리기위해*/
}
/*컨텐츠의 넓이를 제한하고 홈페이지를 브라우저 가운데에 배치*/
.wrapper{
    width: 1400px;
    margin: 0 auto;
}
@media screen and (max-width:640px){
    /*640px 이하의 디바이스에서만 아래 css가 적용된다*/
    /*pc에서는 1280px 이라는 콘텐츠 고정넓이가 존재했지만
      모바일에서는 디바이스 넓이에 맞춰서 꽉차게 구현
      구현방식이 달라서 고정값을 모두 삭제*/
    html,body{
        /*모바일기기가 전부 달라서 고정된값을 풀어주고 내부요소가 존재하는 만큼*/
        font-size: 13px;
    }
    #wrap{/*id="wrap"*/
        min-width: 350px;/*화면이 너무 줄어들면 차라리 가로스크롤바 생기게끔한다*/       
    }
    .wrapper{
        width: auto;
        margin: 0 20px;
    }
}/*media 종료*/
.clearfix::after{display:block;clear:both;content:".";visibility:hidden;height:0;}
.clearfix{display:block;}

/* wrapper와 동일한 사이즈를 가진 position:relative 를 요소는 cnt_wrap를 줘서 항상 부름*/
.cnt_wrap{
    position: relative;
}

.header {
    position: absolute;/*visual 위에 메뉴가겹쳐서 올라와야 하기때문에*/
    left: 0;
    top: 0;
    z-index: 300;
    /*
        header와 서브메뉴(lnb)와 footer에서 pull down 메뉴가 중복될때
        header 가 제일 위로 올라와야해서 제일 높은숫자
        header - 300
        lnb - 200
        footer - 100
    */
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    color: #FFF;    
}
.header .logo{
    float: left;
    margin: 32px 0 0 50px;
}
.header .logo a{
    display: block;
    width: 163px;
    height: 36px;
    background-image: url(../images/common/logo_w.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; /*정해진 사이즈에 꽉차게 이미지가 들어가야해서contain을준다*/
    font-size: 0;
    line-height: 0;
}
@media screen and (min-width:641px){
    /* 브라우저사이즈를 641 이상에서만 적용하는 스타일 
        pc와 mobile 의 스타일을 아예 따로 두는값*/
    .header .gnb{
        float: right;
        margin: 0 36px 0 0;
    }
    .header .gnb .gnb_open{/*모바일에서보이는 메뉴 아이콘*/
        display: none;
    }
    .header .gnb .gnb_close{/*모바일에서보이는 close 아이콘*/
        display: none;
    }
    .header .gnb>ul>li{
        float: left;
        width: 195px;
    }
    .header .gnb>ul>li>a{/*1차메뉴*/
        display: block;
        line-height: 100px;/*header와 같은 행간을 줘서 잘 눌리게(헤더의 중간정렬되게)*/
        font-size: 20px;
        text-align: center;
    }
    .header .gnb>ul>li{
        position: relative;/*2차메뉴 정렬의 기준*/
    }
    .header .gnb>ul>li>ul{/*2차메뉴*/
        display: none;
        position: absolute;/*있다가 없다가 하는 요소들은 absolute 가 필요함*/
        left: 0;
        top: 100px;/*header의 높이값부터 시작/1차메뉴 높이*/
        width: 100%;
        height: 480px;/*.header.menu_open::before높이값 (580px) - 1차메뉴 높이값(100px)*/
        padding: 25px 0 0 0;/*위쪽만 여백을 패딩으로 주고, 좌우는 a 한테 줘야함*/
        border-left: 1px solid #ededed;
    }
    .header .gnb>ul>li>ul>li{
        position: relative;
    }
    .header .gnb>ul>li>ul>li>a{
        display: block;
        padding: 0 0 0 25px;/*a 영역이 잘 눌리게 ul 전체 말고 a 각각에 여백을 줘야한다*/
        line-height: 3;
    }
    /*마우스 오버했을때*/
    .header .gnb>ul>li:hover>a{/*1차메뉴에 마우스오버시*/
        color: #006CB7;
        font-weight: 700;
    }
    .header .gnb>ul>li:hover>ul{
        background-color: #006CB7;
        color: #FFF;
    }
    .header .gnb>ul>li>ul>li>a:hover{
        font-weight: 700;
    }
}/*gnb의 pc 스타일*/

/*header가 고정됬을때 & 메뉴가 열렸을때*/
.header.fixed{
    position: fixed;
    /* 무조건 body와만 정렬- 넓이 100% 여도 - 1400px 이하에서 window넓이만큼만 인식해서 깨짐*/
    min-width: 1400px;/*최소넓이*/
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
    background-color: #fff;
}
.header.fixed,.header.menu_open{
    color: #3d3d3d;    
}
.header.fixed .logo a,.header.menu_open .logo a{
    background-image: url(../images/common/logo.svg);
}
.header.menu_open::before{/*메뉴 열렸을때 뒤에 배경*/
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    /*position 유무에 따라서 position값을 가지고 있는게 무조건 위에 나타난다 
        이때 position값을 가지고있는 요소를 position값을 가지고 있지 않는 요소 아래로 내리는 방법은
        z-index: -1 을 주면 일반요소 밑에 깔리게 된다*/
    width: 100%;
    height: 580px;
    background-color: #FFF;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);/*메뉴가 스크롤 되서 내려와도 흰색배경이랑 구분되 보이게*/
    content: "";
}
.header.menu_open::after{/*1차메뉴 밑에있는 border line*/
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    height: 1px;
    background-color: #ededed;
    content: "";
}
.header.menu_open .gnb>ul>li>ul{/*2차메뉴보임*/
    display: block;
}
@media screen and (max-width:640px){
    .header {
        height: 60px; 
    }
    .header .logo{
        margin: 19px 0 0 20px;
    }
    .header .logo a{
        width: 98px;
        height: 22px;
    }
    .header .gnb{
        float: right;/*gnb 영역이 많이 잡혀서 오른쪽으로 보내야 영역충돌이 안되고 로고가 잘클릭된다*/
        overflow-y: auto;/*모바일 메뉴가 길어지면 메뉴가 스크롤 되도록 하는값*/
    }
    .header .gnb button{/*open 버튼 close버튼 동시에 들어가야하니까 감싸고있는 button 테그에 준다*/
        height: 60px;/*모바일의 header높이*/
        padding: 0 20px;/*위아래는 height으로 영역을 잡아주고 좌우는 padding 으로 준다*/
    }
    .header .gnb button span{
        display: none;/*웹표준때문에 써놨던 설명글자 숨기기*/
    }
    .header .gnb button i{
        font-size: 20px;
    }
    .header .gnb>ul{
        display: none;
        margin: 70px 20px 50px 20px;/*메뉴 전체목록의 여백*/
    }
    .header .gnb>ul>li{
        border-top: 1px solid #ededed;
    }
    .header .gnb>ul>li:last-child{
        border-bottom: 1px solid #ededed;
    }
    .header .gnb>ul>li>a{
        display: block;
        position: relative;/* 아이콘 정렬 기준점 */
        padding: 0 0 0 20px;
        font-size: 20px;
        line-height: 3;
    }
    .header .gnb>ul>li>a::after{/*1차메뉴 뒤에 있는 아이콘 구현하기*/
        position: absolute;
        right: 0;
        top: 23px;
        color: #ccc;
        font-size: 15px;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        line-height: 1;
        text-rendering: auto;
        font-weight: 900;
        font-family: "Font Awesome 6 Free";
        content: "\f107";
    }
    .header .gnb>ul>li>ul{
        padding: 28px 0;
        background-color: #006CB7;
        color: #FFF;
    }
    .header .gnb>ul>li>ul{
        display: none;
    }
    .header .gnb>ul>li>ul>li>a{
        display: block;
        padding: 0 0 0 40px;/**/
        font-size: 15px;
        line-height: 2.5;
    }
    .header .gnb .gnb_close{
        display: none;
        position: fixed;/*모바일에서 메뉴를 내렸을때 X close 하는 아이콘이 따라 내려올수있게*/
        right: 0;
        top: 0;
        color: #3d3d3d;
    }
    /*서브메뉴가 열렸을때*/
    .header .gnb>ul>li.sub_open>a{/*1차메뉴가 열렸을때*/
        color: #006CB7;
        font-weight: 700;
    }
    .header .gnb>ul>li.sub_open>a::after{
        color: #006CB7;
        content: "\f106";
    }
    .header .gnb>ul>li.sub_open>ul{/*2차메뉴 보임*/
        display: block;
    }
    /*메뉴가 열렸을때*/
    .header.menu_mobile .gnb{
        position: fixed;
        /*
            fixed는 무조건 body랑만 정렬함
            absolute 를 주게되면 header 높이인 60px로만 꽉차게 들어감
        */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #FFF;
        color: #1d1d1d;
    }
    .header.menu_mobile .gnb .gnb_open{
        display: none;
    }
    .header.menu_mobile .gnb>ul{/* ">"이 부호를 써야 딱 저 테그한테만 block 요소를 준다*/
        display: block;
    }
    .header.menu_mobile .gnb .gnb_close{
        display: block;
    }

    /*header 고정*/
    .header.fixed{
        min-width: 350px;/*모바일 버전 wrap의최소넓이*/
    }
    .header.fixed,.header.menu_open{
        color: #3d3d3d;    
    }
}/*header 모바일 스타일*/

/*common.css 모든 페이지에서 호출 
  .top 이라고만 클래스를 주고 호출을 하면 다른컨텐츠에서 top 이라고 클래스명을 주면 해당 스타일이 적용됨
  --> 유일 무이한 클래스 이름을 주던가
  --> aside 라는 테그 + 흔한 테그 이름 붙혀서 사용*/
aside.top{
    display: none;/*스크롤을 내리면 보이게 하려고 처음엔 안보이게 한다(jqauery로 보이게함)*/
    position: fixed;
    right: 35px;
    bottom: 150px;
    z-index: 250;/*foot값:300 heaer값:100 그 위로 올라와야 하니까 그 중간값인 250을준다*/
}
aside.top button{/*눌려야해서 top말고 button 자체에 사이즈를 준다*/
    width: 40px;
    height: 40px;
    background-color: #0051A7;
    color: #FFF;
}
aside.top span{
    display: none;
}
aside.top i{
    font-size: 16px;
}
@media screen and (max-width:640px){
    /*모바일버전 aside 버튼*/
    aside.top{
        position: absolute;/*aside 버튼이 밑에만 있게하는*/
        right: 20px;
        bottom: 310px;
    }
    aside.top button{/*눌려야해서 top말고 button 자체에 사이즈를 준다*/
        width: 30px;
        height: 30px;
    }
    aside.top i{
        font-size: 12px;
    }
}

.footer{
    background-color: #171717;
    color: rgba(255,255,255,0.7);
}
.footer .sns{
    position: absolute;
    right: 0;
    top: 40px;
}
.footer .sns ul li{
    float: left;
    border-width: 1px 1px 1px 0;/*왼쪽두께만 안들어가게하는값*/
    border-style: solid;
    border-color: #171717;
}
.footer .sns ul li:first-child{
    border-left-width: 1px;
}
.footer .sns ul li a{
    display: block;
    width: 40px;
    height: 40px;/*높이를 a한테줘야 잘클릭이 된다*/
    /*img를 a 영역안에 위아래 좌우 가운데 배치하기 위해서*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer .f_logo{
    float: left;
    margin: 50px 80px 0 0;/*로고와 fnav 떨어지는*/
}
.footer .f_logo img{
    width: 120px;
}
.footer .inner{
    float: left;
    margin: 54px 0 0 0;/*fnav 전체상단의 여백*/
}
.footer .f_nav li{
    position: relative;
    float: left;
    margin: 0 37px 0 0;
}
.footer .f_nav li::after{
    position: absolute;
    right: -20px;
    top: 4px;
    width: 1px;
    height: 12px;
    background-color: rgba(255,255,255,0.3);
    content: "";
}
.footer .f_nav li:last-child::after{
    display: none;
}
.footer .f_nav li.privacy{
    color: rgba(255,255,255,0.9);
    font-weight: 700;
}
.footer .f_info{
    margin: 40px 0 10px 0;
}
.footer .f_info span{
    display: inline-block;
    /*온라인으로 변경됬을시에
        - 전화번호나 팩스처럼 짧은 span테그로 묶인 요소들이
          display :inline-block 을 주면 두줄로 분리되서 나타나지 않는다.*/
    margin: 0 36px 0 0;
}
.footer .copyright{
    margin: 0 0 150px 0;
    color: rgba(255,255,255,0.4);
}
@media screen and (max-width:640px){
    .footer .sns{
        position: relative;
        right: auto;/*엡솔루트 안하면 auto로 해지해야함*/
        top: auto;
        height: 75px;
        /*ul을 가운데 정렬*/
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer .sns::after{
        /*wrapper 영역 밖까지 선을 긋기 위해서 border말고 after로 구현*/
        position: absolute;
        left: -20px;
        bottom: 0;
        width: calc(100% + 40px); 
        /*시작점이 -20(영역밖) 그래서 calc(100% + 양옆 20px 해서 총 40px 플러스 하면됨)*/
        height: 1px;
        background-color: rgba(255,255,255,0.2);
        content: "";
        /*선긋는거 말고 배경색으로 했을시에는 height:100%와 + z-index :-1 를 줘야한다*/
    }
    .footer .sns ul li{
        border-width: 0;/*선없애는방법*/
    }
    .footer .sns ul li:first-child{
        border-left-width: 0;
    }
    .footer .sns ul li a{
        width: 50px;
        height: 50px;/*높이를 a한테줘야 잘클릭이 된다*/
    }
    /* .footer .sns ul li a img{
        transform: scale(1.14,1.14);
    }           pc 에서보다 1.14배수 모바일에서 늘어날경우*/
    .footer .f_logo{
        float: none;
        margin: 28px 0 55px 0;/*상단의 줄과의 여백*/
    }
    .footer .f_logo img{
        width: 96px;
    }
    .footer .inner{
        float: none;
        margin: 0;/*모든여백을 logo가 줬다 그래서 0*/
    }
    .footer .f_nav li{
        margin: 0 24px 10px 0;
    }
    .footer .f_nav li::after{
        right: -14px;
        top: 5px;
        height: 8px;

    }
    .footer .f_info{
        margin: 40px 0 15px 0;
    }
    .footer .f_info span{
        display: inline-block;
        /*온라인으로 변경됬을시에
            - 전화번호나 팩스처럼 짧은 span테그로 묶인 요소들이
              display :inline-block 을 주면 두줄로 분리되서 나타나지 않는다.*/
        margin: 0 23px 10px 0;/*두줄로 바꼈을때 행간때문에 아래쪽에 10px 여백을 준다*/
    }
    .footer .copyright{
        margin: 0 0 50px 0;
    }
}