@import url('default.css');
@import url('common.css');

/* 메인에 있는 스타일만 정의 */

.visual{
    position: relative;
    height: 100vh;/* 브라우저 높이의 100%*/
    background: url(../images/main/visual_bg.png) no-repeat center center/cover;
    color: #FFF;
}
.visual .visual_wrap{
    position: absolute;/*가운데 정렬되는 내용들은 display;flex로 조절한다*/
    left: calc(50% - 700px);/*700px = 컨텐츠 영역 총 길이의 반절*/
    top: 50%;
    transform: translate(0,-65%);
    /*
        해당요소의 넓이와 높이를 계산해서 그 값의 50%를 왼쪽 오른쪽으로 이동
        top: 50% 을 주면 위아래 가운데에서 시작해서 아래로 컨텐츠가 배치됨
        컨텐츠의 위아래 여백을 동일하게 주려면 (즉, 컨텐츠가 자기높이의 절반이 위로 이동)
        transform: translate(좌우이동값, 위아래 이동값(-50%))을 주면됨    

        (만약에 가운데 정렬이면 좌우값도 -50으로 시작해야함)
        (만약에 위아래 정가운데가 아니면 %를 조정해서 위치조정을 하면됨)
    */
}
.visual h2{
    margin: 0 0 56px 0;
    font-size: 50px;
    font-weight: 400;
    line-height: 1.2;
}
.visual h2 strong{
    margin: 23px 0 0 0;
    display: block;
    font-weight: 700;
}
.visual .search{
    width: 360px;
    height: 50px;
    border: 2px solid #FFF;
    border-radius: 25px;
}
.visual .search label{
    display: none; 
    /*접근성때문에 준테그를 안보이게한다*/
}
.visual .search input[type="text"]{
    float: left;
    /*<input type="text" />라고 되어있는 테그만 지칭
      "검색어를 입력하세요"거기에 있는 속성 디자인과 같게 만드는 작업*/
    width: 285px;
    height: 45px;/*.visual .search 에 있는 높이값 같이준다(단 브라우저에서 값이 보더 밖으로 튀어나가면 값 조절해야함)*/
    margin: 0 0 0 24px;/*왼쪽에서 얼마나 떨어지는지*/
    border: 0;
    outline: 0;/*focus가 됬을때 테두리 생성되는거 지우는 값*/
    background-color: transparent;
}
.visual .search input[type="text"]::placeholder{
    /*검색창 안에 있는 글자 속성을 바꾸는 값*/
    color: rgba(255,255,255,0.6);
}
.visual .search .btn{
    float: left;/*키워드 입력란하고 버튼 사이의 여백 삭제*/
    width: 40px;
    height: 45px;/*.visual .search input[type="text"] 의 높이값 같은걸로 준다*/
}
.visual .search input.btn{
    /*버튼의 기본값 빼고 원하는 이미지 넣기*/
    border: 0;
    /*모바일과 피시버전이 배경이 하나라도 다르면 따로 선택해서 값을 줘야한다*/
    background-color: transparent; 
    background-image: url(../images/main/search_ico.svg);
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 0;
    cursor: pointer;/* 마우스 오버시 마우스가 손바닥 모양으로 바뀜*/
}
.visual .search button.btn span{
    display: none;
}
.visual .search button.btn i{
    font-size: 15px;
}
@media screen and (max-width:640px){
    .visual{
        height: 360px;/*꽉차게 말고 고정값*/
    }
    .visual .visual_wrap{
        left: 20px;
        /*
            pc = 컨텐츠 밖 사이즈를 몰라서 calc()를 쓴느거고
            mobile = 어떤 사이즈의 핸드폰에서 보던, 꽉차게 보여줘야한다
                     그래서 컨텐츠밖 좌우값 (20px) 를 left에 준다
        */
    }
    .visual h2{
        margin: 0 0 22px 0;
        font-size: 20px;
    }
    .visual h2 strong{
        margin: 10px 0 0 0;
    }
    .visual .search{
        width: 233px;
        height: 40px;
        border-radius: 20px;
    }
    .visual .search input[type="text"]{
        width: 179px;
        height: 35px;/*.visual .search 에 있는 높이값 같이준다(단 브라우저에서 값이 보더 밖으로 튀어나가면 값 조절해야함)*/
        margin: 0 0 0 18px;/*왼쪽에서 얼마나 떨어지는지*/
    }
    .visual .search .btn{
        width: 27px;/*아이콘이 눌리는 여백포함 다 사이즈를 재야함*/
        height: 35px;/*.visual .search input[type="text"] 의 높이값 같은걸로 준다*/
    }
    .visual .search input.btn{
         /*모바일과 피시버전이 배경이 하나라도 다르면 따로 선택해서 값을 줘야한다*/
        background-size: 13px; /*사이즈를 하나만 입력하면 넓이가 알아서 조정됨 - 높이는 비율에 맞게 알아서 */
    }
    .visual .search button.btn span{
        display: none;
    }
    .visual .search button.btn i{
        font-size: 13px;
    }
}