@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR);
body,section,p,div,ul,li,h1,h2,h3,h4,h5,h6,nav,button,header,footer{ 
    /*body, section 등의 모든 테그에 모든 여백 삭제 (상태초기화/ 브라우저에서준 기본요소 지우기)*/
    padding: 0;
    margin: 0;
}
ul,li{
    list-style: none; /*ul 테그앞에 들어가는 동그라미 삭제*/
}
em,address{
    font-style: normal;/*em테그가 기본적으로 글자가 기울어져있음, 그걸 정상으로 만드는 코드*/
}
button{
    background-color: transparent;/*배경이투명(버튼에게만적용되는것)*/
    color: inherit;
    line-height: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    cursor: pointer;/*마우스를 오버하면 손바닥 모양으로 변경*/
}
.clearfix:after{display:block;clear:both;content:".";visibility:hidden;height:0;}
.clearfix{display:block;}
body{
    min-width: 1280px;
    /*wrapper에서 준 넓이를 body에 최소넓이로 줌*/
    /*min-width 준 이유는 가로스크롤을 해도 배경이 정상적으로 나오게 하는 효과를 위해서*/
    color: #3d3d3d;
    line-height: 1.5;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.05em;
}
a{
    color: inherit;/*브라우저가 주는 기본색(파랑색)적용하지않고, 부모요소가 정의한 색상을 따르겠다는 뜻*/
    text-decoration: none;
}
.wrapper{
    width: 1280px;
    margin: 0 auto;
}
header{/*header영역은 대부분 거의 높이를 입력함(대부분100픽셀)*/
    height: 100px;/*header 영역은 높이가 중요하기때문에 정확한 높이를 주고 시작한다*/
}
header h1{
    float: left;
    margin: 23px 0 0 0;
}
header nav{
    float: right;
    margin: 14px 0 0 0;
}
header nav ul li{
    float: left;
}
header nav ul li a{
    display: block;/*여기에 block요소를 준 이유는 a가 inline 요소라서 padding을 적용하기 위해서*/
    padding: 19px;
    color: #1D1D1D;
    font-size: 20px;
}
.visual{
    background-image: url(../images/visual_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    height: 800px;
}
.visual h2{
    display: none;
}/*해당 테그를 사용하지 않은것처럼숨김- 공간을 차지하지않음! 엄청중요함*/
.visual strong{
    display: block;/*strong 인라인 테그라서 margin 이 적용X, block 요소로 변경*/
    padding: 290px 0 6px 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
}
.visual p{
    color: #ffffff;
    font-size: 50px;
    line-height: 1;
}
.visual p em{
    font-weight: 700;
}
.promotion .art{
    margin: 160px 0 99px 0;
}
.promotion .art img{
    float: left;
}
.promotion .art .inner{
    float: left;
    margin: 68px 0 0 80px;
}
/*두개의 요소에 float right and left를 주면 코딩 순서와 역순으로 요소들이 오른쪽에 정렬된다*/
.promotion .lee{
    margin: 0 0 170px 0;
}
.promotion .lee img{
    float: right;
}
.promotion .lee .inner{
    float: right;
    margin: 63px 78px 0 0;
}
.promotion h2{
    color: #1D1D1D;
    font-size: 50px;
    font-weight: 700;
}
.promotion p{
    margin: 18px 0 50px 0;
}
.promotion p strong{
    display: block;
    margin: 0 0 10px 0;
    line-height: 1.25;
    font-size: 20px;
    font-weight: 700;
}
.promotion a{
    display: inline-block;
    float: left;
    padding: 10px 16px;
    margin: 0 5px 0 0;
    border: 1px solid #666666;
}
.bbs{
    background-image: url(../images/bbs_bg.png);
    background-position: center top;
    background-repeat: no-repeat;
}
.bbs .notice{
    /*notice 글자는 대부분 흰색-내부요소에 스타일을 상속*/
    color: #ffffff;
}
.bbs .notice .tit{
    float: left;
    margin: 68px 0 0 0;
}
.bbs .notice .tit h2{
    font-size: 50px;
    font-weight: 700;
}
.bbs .notice .tit a{
    display: inline-block;
    padding: 10px 16px;
    margin: 0 5px 0 0;
    border: 1px solid #ffffff;
}
.bbs .notice .tit p{
    margin: 25px 0 27px 0;
}
.bbs .notice ul{
    float: right;
    width: 800px;
    margin: 100px 0 0 0;
}
.bbs .notice ul li{
    border-bottom: 1px solid rgba(255,255,255, 0.3);
}
.bbs .notice ul li.first{
    border-top: 1px solid rgba(255,255,255, 0.3);
}
.bbs .notice ul li a{
    padding: 15px 26px;
}
.bbs .notice ul li a strong{
    float: left;
    font-size: 15px;
    font-weight: 400;
}
.bbs .notice ul li a span{
    float: right;
    color: rgba(255,255,255, 0.7);
}
.bbs .video{
    margin: 200px 0 0 0;
}
.bbs .video h2{
    margin: 0 0 30px 0;
    color: #ffffff;
    font-size: 50px;
    font-weight: 700;
}
.bbs .video ul li{
    float: left;
    width: 400px;
    margin: 0 40px 0 0;
}
.bbs .video ul li.last{
    margin: 0;
}
.bbs .video ul li a{
    display: block;
}
.bbs .video ul li span{
    display: block;
}
.bbs .video ul li strong{
    display: block;
    font-size: 20px;
    font-weight: 700;
}
footer{
    overflow: hidden;/*footer 하단에 생성된 의도하지 않은 여백 삭제를 위해*/
    margin: 132px 0 0 0;
    background-color: #0A0A0A;
    color: rgba(255,255,255, 0.8);
}
footer .inner{
    float: left;
    margin: 85px 0 140px 0;
}
footer .fnav li{
    float: left;
}
footer .fnav li a{
    display: block;
    padding: 0 14px;
}
footer .fnav li.privacy a{
    /*li중에서privacy 라는 클래스명을 가진 li의 내부에 있는 a라는 뜻*/
    padding-left: 0;
    font-weight: 700;
}
footer .info{
    margin: 50px 0 5px 0;
}
footer .info address{
    display: inline;
    /*address 가 block 요소라서 두줄이 생기는 현상을 없애기위해서 inline 을 넣어서 옆으로 오게끔함*/
}
footer .info span{
    display: inline-block;
    margin: 0 0 0 26px;
    /*원래 span 테그는 inline 테그라서 margin이 안들어간느게 맞습니다 그래서 display로 inline-block을 줘서 무력화 시켜야함*/
}
footer button{
    /*button 테그에 넓이와 높이를 주면 글자가 좌우,가운데,위아래 정렬됨*/
    float: right;
    width: 160px;
    height: 38px;
    padding: 0 8px 0 18px;
    margin: 80px 0 0 0;
    border: 1px solid rgba(255,255,255, 0.8);
}
footer button strong{
    float: left;
    font-weight: 400;
}
footer button span{
    float: right;
}