/* 각각의 컨텐츠 페이지의 스타일을 저장*/

/* 회사소개 > CEO 인사말 */
.cnt_ceo{
    /*오른쪽이미지가 엡솔루트로 밖에 나가야해서 그것의 기준점이된다*/
    position: relative;
}
/*
    이미지 컨텐츠 영역 안에도 있고, 일부가 밖에 나가는디자인
    ->컨텐츠 영역 밖에 나가는 이미지는 브라우저사이즈가 줄어들면 짤려도 상관없음
      position:absolute; left/right :50%; 가운데를 기준으로 정렬해서 배치함
      ----->브라우저 사이즈가 변경되도 변하지 않는 위치는 가운데이기때문
      ----->이미지나 컨텐츠가 왼쪽에 배치되면 right:50%, margin-right:여백
      ----->                        오른쪽에  left:50%, margin-left:여백
*/
.cnt_ceo .ceo_pic{
    position: absolute;
    right: 50%;/*컨텐츠영역 반절부터 시작*/
    top: 0;
    margin-right: 60px;
}
.cnt_ceo .inner{
    /*안에 내용(컨텐츠)들은 총 컨텐츠 영역안에서 여백으로 오른쪽으로 민다*/
    margin: 0 0 0 720px;
}
.cnt_ceo .tit{
    margin: 0 0 70px 0;
    font-size: 30px;
    font-weight: 700;
}
.cnt_ceo .tit strong{
    color: #ED1C24;
}
.cnt_ceo .sign{
    margin: 74px 0 0 0;
    text-align: right;
}
@media screen and (max-width:640px){

    /*
        이미지 컨텐츠 영역 안에도 있고, 일부가 밖에 나가는디자인
        ->컨텐츠 영역 밖에 나가는 이미지는 브라우저사이즈가 줄어들면 짤려도 상관없음
          position:absolute; left/right :50%; 가운데를 기준으로 정렬해서 배치함
          ----->브라우저 사이즈가 변경되도 변하지 않는 위치는 가운데이기때문
          ----->이미지나 컨텐츠가 왼쪽에 배치되면 right:50%, margin-right:여백
          ----->                        오른쪽에  left:50%, margin-left:여백
    */
    .cnt_ceo .ceo_pic{
        display: none;
    }
    .cnt_ceo .inner{
        /*안에 내용(컨텐츠)들은 총 컨텐츠 영역안에서 여백으로 오른쪽으로 민다*/
        margin: 0;
    }
    .cnt_ceo .tit{
        margin: 0 0 38px 0;
        font-size: 18px;
        font-weight: 400;
    }
    .cnt_ceo .tit strong{
        font-weight: 400;
    }
    .cnt_ceo .sign{
        margin: 62px 0 0 0;
        text-align: left;
    }
}

/*회사소개 > 연혁*/
.cnt_historyN .tit{
    font-size: 30px;
    text-align: center;
}
.cnt_historyN .tit span{
    display: block;/*pc 에서만 줄바꿈*/
}
.cnt_historyN .history_wrap{
    position: relative;
    margin: 39px 0 0 0;
}
.cnt_historyN .history_wrap::before{/*중간 제일 긴선*/
    position: absolute;
    left: 50%;
    top: 11px;/*위에 동그라미 사이에 툭 튀어나온 거 조절*/
    width: 1px;
    height: calc(100% - 15px);/*중간에 긴선 밑에서 조절하는방법 백프로에서 몇픽셀 빼줌*/
    background-color: #ED1C24;
    content: "";
}
.cnt_historyN .inner{
    position: relative;/*year_tit 정렬의 기준*/
}
.cnt_historyN .inner + .inner{
    margin: 130px 0 0 0;
}
.cnt_historyN .year_tit{
    position: absolute;
    top: 0;
}
.cnt_historyN .year_tit.left{
    left: 0;
}
.cnt_historyN .year_tit.right{
    right: 0;
}
.cnt_historyN .year_tit .bg{
    width: 599px;
    height: 362px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cnt_historyN .year_tit .bg.year2010{
    background-image: url(../images/contents/historyN_01.png);
}
.cnt_historyN .year_tit .bg.year2000{
    background-image: url(../images/contents/historyN_02.png);
}
.cnt_historyN .year_tit h3{
    /*사진안에 텍스트를 가운데에 배치하는 방법*/
    position: absolute;
    left: 0;
    top: 150px;
    width: 100%;
    color: #FFF;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}
.cnt_historyN .year_list.left{
    margin: 0 0 0 50%;/*왼쪽으로 여백준다 -> 오른쪽으로 배치되야해서*/
}
.cnt_historyN .year_list.right{
    margin: 0 50% 0 0;
}
.cnt_historyN .year_list h4{
    position: relative;
    color: #ED1C24;
    font-size: 20px;
    font-weight: 700;
}
.cnt_historyN .year_list.left h4{
    margin-left: 48px;
    float: left;
}
.cnt_historyN .year_list.right h4{
    margin-right: 48px;
    float: right;
}
.cnt_historyN .year_list h4::before{
    position: absolute;
    top: 10px;
    width: 8px;
    height: 8px;
    border: 2px solid #ED1C24;
    border-radius: 6px;
    background-color: #FFF;
    content: "";
}
.cnt_historyN .year_list.left h4::before{
    left: -53px;
}
.cnt_historyN .year_list.right h4::before{
    right: -55px;
}
.cnt_historyN .year_list.left dl{
    margin: 0 0 66px 132px;
}
.cnt_historyN .year_list.right dl{
    margin: 0 132px 66px 0;
}
.cnt_historyN .year_list.left dl dt{
    float: left;
}
.cnt_historyN .year_list.right dl dt{
    float: right;
}
.cnt_historyN .year_list.left dl dd{
    margin-left: 32px;
}
.cnt_historyN .year_list.right dl dd{
    margin-right: 32px;
    text-align: right;
}
.cnt_historyN .year_list dl{
    /*년도와 날짜 사이의 줄맞춤 하기위해서준 값*/
    padding-top: 5px;
}
.cnt_historyN .year_list dl dt{
    line-height: 1.3;
    font-weight: 700;
}
.cnt_historyN .year_list dl dd{
    /*같은 날짜에 이벤트가 두개일경우, 조금의 여백으로 차이점을 줘야한다*/
    line-height: 1.3;
    margin-bottom: 12px;
}
.cnt_historyN .year_list dl dd ~ dt{
    padding-top: 12px;
}
.cnt_historyN .year_list dl dt + dd ~ dt + dd{
    /* dl안에서 dt+dd 세트 뒤에 똑같이 dt+dd세트가 또 나온다면 그거에 효과를 준다
       (혹시 dt + dd 뒤에 또 dd 가 나온다면 그거에는 효과를 안주기 위해서 이 선택자를 쓴다)*/
    padding-top: 12px;
}
@media screen and (max-width:640px){
    .cnt_historyN .tit{
        font-size: 20px;
    }
    .cnt_historyN .tit span{
        display: inline;/*pc 에서만 줄바꾼거 해제*/
    }
    .cnt_historyN .history_wrap{
        margin: 41px 0 0 0;/*tit과 사진 사이의 여백*/
    }
    .cnt_historyN .history_wrap::before{/*중간 제일 긴선*/
        left: 0;
        top: 0;/*위에 동그라미 사이에 툭 튀어나온 거 조절*/
        height: 100%;/*중간에 긴선 밑에서 조절하는방법 백프로에서 몇픽셀 빼줌*/
    }
    .cnt_historyN .inner + .inner{
        margin: 42px 0 0 0;
    }
    .cnt_historyN .year_tit{
        position: relative;
        top: 0;
        width: calc(100% + 40px);
        /*wrapper 바깥까지 넓이를 가져야해서
          calc(100% + 양쪽 wrapper 밖 20px씩)*/
    }
    .cnt_historyN .year_tit.left{
        left: -20px;
    }
    .cnt_historyN .year_tit.right{
        right: 20px;/*wrapper 밖으로 이미지가 나가게끔 하는 선언ㄴ*/
    }
    .cnt_historyN .year_tit .bg{
        width: 100%;/*영역에 꽉차게*/
        height: 135px;/*디자인에서 내가 준값*/
    }
    .cnt_historyN .year_tit h3{
        /*사진안에 텍스트를 가운데에 배치하는 방법*/
        top: 46px;/*위에서 떨어지는값*/
        font-size: 30px;
    }
    .cnt_historyN .year_list.left{
        margin: 33px 0 0 34px;/*50%에서 시작하는걸 없애고, 왼쪽에서 얼마나 떨어지는지 픽셀로 값을준다*/
    }
    .cnt_historyN .year_list.right{
        margin: 33px 0 0 34px;/*사진과 리스트가 떨어지는 여백*/
    }
    .cnt_historyN .year_list h4{
        font-size: 15px;
    }
    .cnt_historyN .year_list.left h4{
        margin-left: 0;
        float: none;
    }
    .cnt_historyN .year_list.right h4{
        margin-right: 0;
        float: none;
    }
    .cnt_historyN .year_list h4::before{
        top: 7px;
        width: 4px;/*보더만큼 높낮이가 늘어나니까 그걸빼고 계산*/
        height: 4px;
        border-radius: 4px;
    }
    .cnt_historyN .year_list.left h4::before{
        left: -38px;
    }
    .cnt_historyN .year_list.right h4::before{
        right: auto;/*오른쪽엔 안들어가니까 그걸 해제하고 새로 left로 값을 준다*/
        left: -38px;
    }
    .cnt_historyN .year_list.left dl{
        margin: 13px 0 30px 0;/*왼쪽여백은 .cnt_historyN .year_list.left 얘가줌*/
    }
    .cnt_historyN .year_list.right dl{
        margin: 13px 0 30px 0;/*left 위에서준 여백을 같이준다*/
    }
    .cnt_historyN .year_list.right dl dt{
        float: left;
    }
    .cnt_historyN .year_list.right dl dd{
        margin-right: 0;
        margin-left: 32px;
        text-align: left;
    }
    .cnt_historyN .year_list dl{
        /*이건 안줘도됨 왜냐면 줄바꿈이 되기때문 */
        padding-top: 0;
    }
    .cnt_historyN .year_list dl dd ~ dt{
        padding-top: 10px;
    }
    .cnt_historyN .year_list dl dt + dd ~ dt + dd{
        /* dl안에서 dt+dd 세트 뒤에 똑같이 dt+dd세트가 또 나온다면 그거에 효과를 준다
           (혹시 dt + dd 뒤에 또 dd 가 나온다면 그거에는 효과를 안주기 위해서 이 선택자를 쓴다)*/
        padding-top: 10px;
    }
}
