/* 모든 페이지에 공통으로 들어간느 스타일 (header/footer) */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');
html,body{
    /*브라우저사이즈가 작아졌을때 배경이 안잘리게 하는테그,(가로스크롤이 생성되었을때 배경이 않잘리기위해*/
    color: #3d3d3d;
    line-height: 1.5;
    /*폰트 적용 우선순위
      만약에 웹폰트가 지원되지 않으면 그 다음에 선언된 폰트가 적용됨
      apple sd gothic- 아이폰에서 지원하는 폰트*/
    font-family: 'Noto Sans KR', 'NanumGothic', 'Malgun Gothic', 'Apple SD Gothic', 'Apple SD Gothic Neo', 'Dotum', sans-serif;
    font-size: 15px;
    font-weight: 400;
    /* letter-spacing: -0.05em; */ 
    word-break: keep-all;/*단어별 줄바꿈*/
}
#wrap{/*id="wrap"*/
    overflow: hidden;
    /*header의 기준점이 되야 헤더가 정확한 위치에 배열이 된다
      윈도우 사이즈가 줄어들었을때 스크린 크기에 따라 헤더가 따라오는게 아니라
      1400이전으로 사이즈가 줄어들면 가로스크롤바가 생기면서 원래 위치인 제일 오른쪽에있는
      컨텐츠가 그자리에 있는다*/
    position: relative;
    min-width: 350px;/*pc에서 부터 최소 넓이를 준다(그래야 320아래로 내려갓을때 가로스크롤이 생긴다)*/       
}
/*컨텐츠의 넓이를 제한하고 홈페이지를 브라우저 가운데에 배치*/
.wrapper{
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
    /*1400px 이하부터 320px 까지 모든 사이즈 반응형
      1400px 일때에도 좌우에 여백은 유지해야함(1400이상에서 1400px 이하로 변경되는 점 - 반응형으로 전환되는점)
      부드럽게 여백을 유지하면서 전환해야함
      원래 좌우에 여백이 20px씩 들어가 있는 걸로 스타일을 줌(모바일에서 처럼 20기본으로 좌우에)
      1400px 컨텐츠 영역인데 왼쪽20 + 오른쪽20 = 1440px이 넓이 
      padding으로 좌우에 여백을 20px씩 줌*/
}

@media screen and (max-width:1000px){
    html,body{
        font-size: 14px;
    }
}

@media screen and (max-width:640px){
    /*640px 이하의 디바이스에서만 아래 css가 적용된다*/
    /*pc에서는 1280px 이라는 콘텐츠 고정넓이가 존재했지만
      모바일에서는 디바이스 넓이에 맞춰서 꽉차게 구현
      구현방식이 달라서 고정값을 모두 삭제*/
    html,body{
        /*모바일기기가 전부 달라서 고정된값을 풀어주고 내부요소가 존재하는 만큼*/
        font-size: 13px;
    }
    .wrapper{
        width: auto;
        margin: 0;/*pc에서부터 패딩을 20 을줘서 모바일에서는 안줘도 된다*/
    }
}/*media 종료*/
.clearfix::after{display:block;clear:both;content:".";visibility:hidden;height:0;}
.clearfix{display:block;}

/* wrapper와 동일한 사이즈를 가진 position:relative 를 요소는 cnt_wrap를 줘서 항상 부름*/
.cnt_wrap{
    position: relative;
}

.skip_nav{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000000;/*제일높은 그무엇보다 제일많은값을준다*/
    width: 100%;
}
.skip_nav a{
    position: absolute;
    left: 0;
    top: -10000px;/*tap키로 이동할때만 보인다 그냥은 안보인다*/
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #0051A7;
    color: #fff;
    text-align: center;
}
.skip_nav a:focus{
    top: 0;/*tap키로 이동할때만 보인다 그냥은 안보인다*/
}

.header{
    height: 100px;
}
.header .logo{
    float: left;
    margin: 35px 0 0 0;
    /*h1테그를 사용해서 logo를 감쌌기때문에 글자크기행간을 없애야 내가준값에 맞게 크기가 들어간다*/
    font-size: 0;
    line-height: 0;
}
.header .logo img{
    width: 130px;
}
.header .gnb{
    float: right;
}
.header .gnb .gnb_open{
    display: none;
}
.header .gnb ul li{
    float: left;
}
.header .gnb ul li a{
    display: block;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 700;
    line-height: 100px;/*헤더의높이값*/
    color: #1d1d1d;
}
@media screen and (max-width:1200px){
    .header .logo{
        margin: 30px 0 0 0;
    }
    .header .logo img{
        width: 100px;
    }
    .header .gnb ul li a{
        padding: 0 25px;
        font-size: 17px;
    }
}
@media screen and (max-width:640px){
    .header{
        height: 60px;
    }
    .header .logo{
        margin: 20px 0 0 0;
    }
    .header .logo img{
        width: 70px;
    }
    .header .gnb .gnb_open{
        display: block;
        padding: 22px 0 0 0;
    }
    .header .gnb .gnb_open img{
        width: 15px;
    }
    .header .gnb ul{
        display: none;
    }
}

.footer{
    position: relative;
}
.footer .family{
    position: absolute;
    /*wrapper 없이 컨텐츠 영역의 오른쪽 끝에 familysite 버튼 배치
        -> right:50%에서 컨텐츠의 넓이 절반(700px) 을 빼줌*/
    right: calc(50% - 700px);
    top: 100px;
}
.footer .family button{
    width: 150px;
    height: 40px;
    border: 1px solid #cccccc;
    color: #666;
}
.footer .f_top{
    height: 60px;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
}
.footer .f_top .f_nav li{
    position: relative;
    float: left;
    margin-right: 35px;
}
.footer .f_top .f_nav li::after{
    position: absolute;
    right: -19px;
    top: 23px;
    width: 1px;
    height: 12px;
    background-color: #cccccc;
    content: "";
}
.footer .f_top .f_nav li:last-child::after{
    display: none;
}
.footer .f_top .f_nav li.privacy a{
    font-weight: 700;
}
.footer .f_top .f_nav li a{
    display: block;
    color: #666666;
    line-height: 60px;/*글자를 위아래 가운데 배치하는방법은 footer의 높이값을 같이 주면된다*/
}
.footer .f_sub .f_logo{
    float: left;
}
.footer .f_sub .f_logo img{
    width: 100px;
    opacity: 60%;
    filter: grayscale(100%);/* 이미지 색 회색으로 색 바꾸는값*/
}
.footer .f_sub .inner{
    margin: 65px 0 100px 145px;
}
.footer .f_sub .f_info span{
    display: inline-block;
    margin: 0 35px 8px 0;
    color: #666666;
}
.footer .f_sub .copyright{
    margin: 20px 0 0 0;
    color: #cccccc;
}
@media screen and (max-width:1440px){
    .footer .family{
        /*1440px 아래로 줄어들게되면 그 끝에있는 패딩값(20px)을줘야
          family버튼이 브라우저 사이즈를 줄였을때 따라다닌다*/
        right: 20px;

    }
}
@media screen and (max-width:1000px){
    .footer .family{
        position: relative;
        /*아래로 떨어져야해서 해지값 auto를 준다*/
        right: auto;
        top: auto;
        margin: 25px 0 17px 20px;
    }
    .footer .family button{
        width: 120px;
        height: 30px;
    }
    .footer .f_top{
        height: auto;
        border-bottom: 0;
        border-top: 0;
    }
    .footer .f_top .f_nav li{
        margin-right: 25px;
    }
    .footer .f_top .f_nav li::after{
        right: -15px;
        top: 10px;
        height: 10px;
    }
    .footer .f_top .f_nav li a{
        line-height: 30px;/*모바일에서는 글자행간을 봐가면서 픽셀로 주면된다*/
    }
    .footer .f_sub .f_logo{
        display: none;
    }
    .footer .f_sub .inner{
        margin: 40px 0 80px 0;
    }
    .footer .f_sub .f_info span{
        margin: 0 20px 8px 0;
    }
    .footer .f_sub .copyright{
        margin: 20px 0 0 0;
        color: #cccccc;
    }
}