@import url(default.css);
@import url(common.css);

.popup ul li{position: relative;}
.popup ul li .txt{
    position: absolute;
    left: 50%;
    top: 50%;
    color: #fff;
    text-align: center;
    /*텍스트를 가운데 배치하는 방법*/
    transform: translate(-50%, -50%);
    /*텍스트를 왼쪽에 배치하는 방법*/
    /*transform: translate(-50%, -700px) -> 700 = 컨텐츠 영역=1400 의 반절값그래야 왼쪽에 붙는다*/
}
.popup ul li .txt strong{
    display: block;
    margin: 0 10px 0 0;
    font-size: 40px;
    font-weight: 700;
}
.popup ul li .txt span{
    display: block;
    font-size: 25px;
}

.visual1 .ctrl_prev,
.visual1 .ctrl_next{
    position: absolute;
    top: calc(50% - 52px);
    z-index: 10;
    font-size: 0;
    line-height: 0;/*대체텍스트 안보이게*/
}
.visual1 .ctrl_prev{
    left: 5%;
}
.visual1 .ctrl_next{
    right: 5%;
}
.visual1 .ctrl_prev::before,
.visual1 .ctrl_next::before{
    position: absolute;/*before테그는인라인 테그가 되버려서 무조건 엡솔루트 줘야함*/
    left: 0;
    top: 0;
    opacity: 0.5;/*투명도값 낮춘다*/
    width: 26px;
    height: 52px;
    background: url(../images/popup_arrow.svg) no-repeat center center/contain;/*contain=높이넓이값 내가 준값들어가게끔*/
    content: "";
}
.visual1 .ctrl_next::before{
    left: auto;
    right: 0;
    transform: rotate(180deg);
}
.visual1 .ctrl_group{
    position: absolute;
    left: calc(50% - 66px);
    bottom: 5%;/*컨트롤버튼은 아래기준으로 들어간다*/
    z-index: 10;
    width: 132px;
    height: 40px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    
}